@import "normalize.less";
//@import "partials/animate.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import "partials/sprite.less";
@import "vendor/jquery.fancybox.css";

@base-font: 'Roboto', sans-serif;
@color-blue: rgb(44, 130, 201);



/* ----- SYSTEM ------- */
.blur(@blur) {
    filter: blur(@blur);
    -webkit-filter: blur(@blur);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

// Clearfix
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

// GREED & GLOBAL STYLES
.blured {
    .blur(2px);
}
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}




body {
    background: #fff url("../img/bg.jpg") no-repeat center top;
    font-family: @base-font;
}

textarea {
    line-height: 1.2 !important;
}


.link {
    color: @color-blue;
    font-weight: 300;
    font-family: @base-font;
}

a {
    color: #2c82c9;
}


.main_blue_btn {
    background-color: rgb(84, 172, 210);
    border: none;
    color: #fff;
    padding: 7px 18px;
    text-align: left;
    //font-weight: 300;
    box-shadow: 3px 3px 0 rgb(44, 130, 201);
    position: relative;
    cursor: pointer;
    transition: all 300ms;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 15px;
    &:after {
        content: "\f101";
        font-family: FontAwesome;
        display: block;
        width: 28px;
        height: 28px;
        background: #fff;
        color: @color-blue;
        position: absolute;
        font-size: 30px;
        line-height: 28px;
        text-align: center;
        right: 6px;
        top: 6px;
        transition: all 400ms;
        text-shadow: none;
    }
    &:hover {
        transform: scale(1.08);
        transition: all 300ms;
        &:after {
            transform: translate(15px, 0);
            transition: all 400ms;
            box-shadow: 3px 4px 10px -5px rgba(0, 0, 0, 1);
        }
    }
}




.darkline {
    background: darken(#2c82c9, 20%);
    height: 27px;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        li {
            color: #fff;
            display: inline-block;
            list-style: none;
            line-height: 27px;
            &:after {
                content: "";
                width: 5px;
                height: 5px;
                display: inline-block;
                background: #fff;
                margin: 3px 2px 3px 5px;
                border-radius: 50%;
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}



.header {
    padding-top: 29px;
    .logo {
        display: inline-table;
    }
    .actions {
        min-width: 340px;
        display: inline-block;
        vertical-align: top;
        .loginreg {
            font-size: 14px;
            color: rgb(51, 51, 51);
            margin-left: 64px;
            float: left;
            border-right: 1px solid #ccc;
            padding-right: 10px;
            margin-right: 10px;
            margin-top: 13px;
            & > a {
                font-weight: 300;
                color: #000;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .link {
                color: @color-blue;
                display: block;
                margin-top: 7px;
            }
        }
        .cart {
            font-size: 14px;
            font-weight: 300;
            margin-top: 13px;
            display: table;
            .cart-ico {
                display: inline-block;
                float: left;
                margin-right: 10px;
                .sprite(@cart-ico);
            }
            .cart-text {
                display: inline-block;
            }
        }
    }
    .phone {
        width: 270px;
        float: right;
        text-align: right;
        margin-top: 8px;
        .phone-row {
            .phone-ico{
                margin-right: 7px;
                display: inline-block;
                -webkit-animation-duration: 2s !important;
                .sprite(@phone-ico);
                top: 4px;
                position: relative;
            }
            .number {
                font-size: 24px;
                color: rgb(51, 51, 51);
                text-transform: uppercase;
                font-weight: 300;
                text-decoration: none;
            }
        }
        .btn_link {
            font-size: 16px;
            background: none;
            border: none;
            border-bottom: 1px dashed;
            padding: 0;
            margin-top: 5px;
            color: @color-blue;
            cursor: pointer;
        }
    }
}



.navigation {
    .nav_wrapper {
        background-color: rgb(44, 130, 201);
        min-height: 39px;
        padding: 0 10px;
        position: relative;
        z-index: 950;
        ul {
            display: inline-table;
            float: left;
            margin: 9px 0 0 0;
            padding: 0;
            line-height: 20px;
            //position: relative;
            & > li {
                display: inline-block;
                list-style: none;
                color: #fff;
                padding: 0 10px;
                border-right: 1px solid #ccc;
                &:hover {
                    & > ul {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &:after {
                    content: "";
                    display: block;
                    border-right: 1px solid #ccc;

                }
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 0;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 400;
                    padding: 10px 0;
                    &:hover {
                        text-decoration: underline;
                        text-decoration: dashed;
                    }
                }
                & > .fa {  padding-left: 6px; }
                &:first-child  {padding-left: 0;}
                &:last-child {border-right: none;}
                .subnav_elements {
                    display: none;
                    position: absolute;
                    background: #fff;
                    color: #000;
                    //border: 1px solid #000;
                    top: 39px;
                    width: 100%;
                    left: 0;
                    min-height: 60px;
                    text-align: center;
                    padding: 20px;
                    box-shadow: 0 7px 31px -13px rgba(0,0,0,.8);
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    z-index: 50;
                    a {
                        color: #000;
                    }
                    .element {
                        display: inline-table;
                        text-align: left;
                        min-width: 115px;
                        //margin-top: 20px;
                        vertical-align: top;
                        line-height: 16px;
                        margin-right: 25px;
                        &:last-child{
                            margin-right: 0;
                        }
                        .ico {
                            display: inline-block;
                            height: 25px;
                            float: left;
                            margin-right: 6px;
                            margin-top: 1px;
                            img {
                                height: 100%;
                            }
                        }
                        a {
                            letter-spacing: inherit;
                            text-transform: none;
                            display: table;
                            &:hover {
                                color: @color-blue;
                            }
                        }
                    }
                }

                .animated {
                    display: block !important;
                }

            }

        }
        .search_form {
            display: table;
            overflow: hidden;
            float: right;
            position: relative;
            margin-top: 7px;
            .search_input {
                width: 110px;
                border: none;
                padding: 4px 30px 4px 10px;
                font-size: 14px;
                border-radius: 3px;
            }
            .go_search {
                display: inline-block;
                border: none;
                background: none;
                position: absolute;
                right: 0;
                top:0;
                opacity: 0.5;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }

        .subnav_wrapper {
            transition: all 300ms;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            background: #fff;
            width: 50%;
            left: 0;
            border: 1px solid #ccc;
            //columns: 200px auto;
            //column-count: 1;
            display: block;
            padding: 20px 0px;
            z-index: 40;
            & > li, &>li:first-child {
                display: inherit;
                vertical-align: top;
                line-height: inherit;
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
                border-right: none;
                width: 100%;
                transition: all 300ms;
                border-bottom: 1px dashed #ddd;
                padding: 0;
                position: relative;
                &:after {
                    content: "\f054";
                    font-family: "FontAwesome";
                    color:#000;
                    position: absolute;
                    right: 10px;
                    font-size: 13px;
                    top:50%;
                    transform: translate(-15px, -50%);
                    border-right: none;
                    transition: all 300ms;
                    opacity: 0;
                }
                &:hover {
                    background: #c3e9ff;
                    &:after {
                        transform: translate(0, -50%);
                        opacity: 1;
                    }
                    & > ul {
                        visibility: visible;
                        border: 1px solid #ccc;
                        background: #fff;
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                a {
                    padding: 10px;
                    text-transform: none; 
                    color: #000;
                    font-size: 14px;
                    line-height: 1.2;
                    text-decoration: none;
                    display: inherit;
                    &:hover {
                        text-decoration: none;
                    }
                }
                & > ul {
                    margin-top: -20px; 
                    //margin-left: -11px;
                    box-sizing: border-box;
                    //transition: all 250ms;
                    position: absolute;
                    display: block;
                    width: 100%;
                    left: 100%;
                    top:0;
                    min-height: 100%; 
                    visibility: hidden;
                    padding: 15px 0;
                    box-shadow: 0 5px 30px -9px rgba(0,0,0,0.7);
                    opacity: 0;
                    //transform: translateX(-15px);
                    li {
                        margin: 0;
                        padding: 5px;
                        width: 100%;
                        border-bottom: 1px dashed #ddd;
                        border-right: none;
                        a {
                            padding: 3px 10px; 
                            display: block;
                        }
                        &:hover {
                            background: #c3e9ff;
                        }
                        & > ul {display: none;}
                    }
                }
            }
        }
    }



}



.first-screen {
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-align: center;
        font-weight: 400;
    }
    .subtitle {
        text-align: center;
        font-size: 18px;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        font-weight: 300;
    }

    .first_form {
        background: url("../img/form1.png") no-repeat center top;
        padding-top: 70px;
        padding-bottom: 30px;
        min-height: 330px;
        .left {
            width: 315px;
            float: left;
            margin-left: 235px;
            .form-title {
                font-size: 36px;
                text-transform: uppercase;
                color: rgb(0, 75, 136);
                font-weight: 600;
                margin-bottom: 10px;
                & > span {
                    font-size: 30px;
                    display: block;
                }
            }
            .cta {
                font-size: 16px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 300;
                b {
                    font-weight: bold;
                }
            }
        }
        .right {
            width: 280px;
            float: right;
            text-align: center;
            margin-right: 40px;
            margin-top: -22px;
            &>h4 {
                font-size: 18px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 400;
            }
            form {
                input {
                    border: 1px solid rgb(235, 235, 235);
                    background-color: rgb(255, 255, 255);
                    width: 224px;
                    height: 35px;
                    padding: 0 15px;
                    font-size: 12px;
                    margin-bottom: 15px;
                    transition: all 300ms;
                    &:focus {
                        border-color: @color-blue;
                        box-shadow: 0 4px 20px -7px rgba(0,0,0,1);
                        transform:scale(1.1);
                        transition: all 300ms;
                    }
                }
                .blue_btn {
                    background-color: rgb(84, 172, 210);
                    width: 226px;
                    border: none;
                    color: #fff;
                    padding: 10px 15px;
                    text-align: left;
                    font-weight: 300;
                    box-shadow: 3px 3px 0 rgb(44, 130, 201);position: relative;
                    cursor: pointer;
                    transition: all 300ms;
                    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                    &:after {
                        content: "\f101";
                        font-family: FontAwesome;
                        display: block;
                        width: 28px;
                        height: 28px;
                        background: #fff;
                        color: @color-blue;
                        position: absolute;
                        font-size: 30px;
                        line-height: 28px;
                        text-align: center;
                        right: 6px;
                        top:6px;
                        transition: all 400ms;
                        text-shadow: none;
                    }
                    &:hover {
                        transform: scale(1.08);
                        transition: all 300ms;
                        &:after {
                            transform: translate(15px,0);
                            transition: all 400ms;
                            box-shadow: 3px 4px 10px -5px rgba(0,0,0,1);
                        }
                    }
                }
            }
        }
    }

}



.i_need {
    text-align: center;
    & > b {
        font-size: 18px;
        color: rgb(51, 51, 51);
        font-weight: bold;
        display: inline-block;
    }
    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            list-style: none;
            a {
                font-size: 16px;
                color: rgb(51, 51, 51);
                text-decoration: none;
                margin: 0 3px;
                padding: 5px 10px;
                position: relative;
                min-height: 20px;
                display: block;
                font-weight: 300;
                &:before {
                    transition: all 200ms;
                    opacity: 0;
                    content: "";
                    display: block;
                    border: 1px solid @color-blue;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: -5px;
                    top:-5px;
                }
                &:after {
                    transition: all 200ms;
                    content: "";
                    display: block;
                    border: 1px solid @color-blue;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 8px;
                    top:8px;
                    opacity: 0;
                }
                &:hover {
                    &:before {
                        transition: all 200ms;
                        opacity: 1;
                        left: 0;
                        top:0;
                    }
                    &:after {
                        transition: all 200ms;
                        opacity: 1;
                        left: 3px;
                        top:3px;
                    }
                }
            }
            &.active {
                a {
                    &:before {
                        transition: all 200ms;
                        opacity: 1;
                        left: 0;
                        top:0;
                    }
                    &:after {
                        transition: all 200ms;
                        opacity: 1;
                        left: 3px;
                        top:3px;
                    }
                }
            }
        }

    }
}


.catalog {
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 60px;
    }
    .subtitle {
        margin-top: 0;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }


    .catalog_wrapper {
        text-align: center;
        .item {
            transition: all 200ms;
            width: 220px;
            display: inline-block;
            vertical-align: top;
            border: 1px solid #ccc;
            min-height: 270px;
            margin: 0 15px 20px 0;
            &:nth-child(4n+4) {
                margin-right: 0;
            }
            .cover {
                height: 150px;
                margin-bottom: 20px;
                overflow: hidden;
                &:after {
                    content: "";
                    border-bottom: 1px solid #ccc;
                    display: block;
                    height: 1px;
                    width: 90%;
                    margin: 0 auto;
                }
                img {
                    height: 100%;
                    display: table;
                    margin: 0 auto;
                    padding: 10px;
                }
            }
            .link {
                color: @color-blue;
                font-weight: 300;
            }
            &:hover {
                border-color: transparent;
                transition: all 200ms;
                transform: scale(1.1);
                box-shadow: 0 10px 25px -1px rgba(0,0,0,.5);
            }
        }
    }

}


.partners {
    text-align: center;
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
    }

    .item {
        transition: all 400ms;
        display: inline-block;
        vertical-align: top;
        width: 170px;
        margin: 7px;
        border: 1px solid transparent;
        .item_logo {
            height: 75px;
            position: relative;
            overflow: hidden;
            img {
                display: table;
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
        }
        .descript {
            height:0;
            overflow: hidden;
            background: #fff;
            border: 1px solid transparent;
            p {
                font-weight: 300;
                padding: 0 8px 5px 8px;
                text-align: justify;
                font-size: 16px;
            }
            .more {
                color: @color-blue;
                padding-bottom: 10px;
                display: block;
                text-align: center;
                font-weight: 300;
            }
        }
        &:hover {
            transition: all 400ms;
            position: relative;
            border: 1px solid #ccc;
            .descript {
                transition: all 400ms;
                position: absolute;
                width: 101%;
                height: auto;
                background: #fff;
                border: 1px solid #ccc;
                border-top-color: transparent;
                left: -1px;
                z-index: 1;
                box-shadow: 0px 8px 11px -4px rgba(0,0,0,.5);
            }
        }
    }
}




.services {
    text-align: center;
    margin-top: 80px;
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
    }
    .item {
        position: relative;
        background: url("../img/service_bg.jpg") no-repeat center;
        background-size: cover;
        padding-left: 20px;
        text-align: left;
        width: 460px;
        min-height: 280px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #ccc;
        margin: 5px 3px;
        .service-title {
            font-weight: 300;
        }
        .descript {
            position: relative;
            z-index: 1;
            text-shadow: 0 0 2px #fff, 0 0 6px #fff;
            ul {
                width: 295px;
                padding: 0;
                li {
                    list-style: none;
                    font-weight: 300;
                    font-size: 14px;
                    margin-bottom: 6px;
                }
            }
        }
        .actions {
            position: absolute;
            bottom: 12px;
            z-index: 1;
            .link {
                color: @color-blue;
                font-weight: 300;
                margin-right: 20px;
            }
            .btn_blue {
                background-color: rgb(84, 172, 210);
                width: 115px;
                border: none;
                color: #fff;
                padding: 4px 15px;
                font-size: 14px;
                text-align: left;
                font-weight: 300;
                box-shadow: 3px 3px 0 rgb(44, 130, 201);position: relative;
                cursor: pointer;
                transition: all 300ms;
                text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                &:after {
                    content: "\f101";
                    font-family: FontAwesome;
                    display: block;
                    width: 18px;
                    height: 18px;
                    background: #fff;
                    color: @color-blue;
                    position: absolute;
                    font-size: 20px;
                    line-height: 18px;
                    text-align: center;
                    right: 6px;
                    top:3px;
                    transition: all 400ms;
                    text-shadow: none;
                }
                &:hover {
                    transform: scale(1.08);
                    transition: all 300ms;
                    &:after {
                        transform: translate(15px,0);
                        transition: all 400ms;
                        box-shadow: 3px 4px 10px -5px rgba(0,0,0,1);
                    }
                }
            }
        }
        .serv_img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;
        }
    }


}




.reasons {
    background: url("../img/bg2.jpg") no-repeat center -5%;
    margin-top: 50px;
    padding-bottom: 50px;
    .title {
        font-size: 30px;
        color: rgb(51, 51, 51);
        text-align: center;
        font-weight: 400;
    }

    .eggs {
        text-align: center;
        .item {
            max-width: 180px;
            display: inline-block;
            vertical-align: top;
            font-weight: 300;
            font-size: 14px;
            margin: 20px 65px 70px;
            .ico {
                display: block;
                margin: 0 auto 10px auto;
            }
            .ico_1 {.sprite(@ico1);}
            .ico_2 {.sprite(@ico2);}
            .ico_3 {.sprite(@ico3);}
            .ico_4 {.sprite(@ico4);}
            .ico_5 {.sprite(@ico5);}
        }
    }

    .second_form {
        background: url("../img/form2.png") no-repeat center top;
        padding-top: 70px;
        padding-bottom: 30px;
        min-height: 330px;
        .left {
            width: 315px;
            float: left;
            margin-left: 235px;
            .form-title {
                font-size: 36px;
                text-transform: uppercase;
                color: rgb(0, 75, 136);
                font-weight: 600;
                margin-bottom: 10px;
                & > span {
                    font-size: 30px;
                    display: block;
                }
            }
            .cta {
                font-size: 16px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 300;
                b {
                    font-weight: bold;
                }
            }
        }
        .right {
            width: 280px;
            float: right;
            text-align: center;
            margin-right: 40px;
            margin-top: 0px;
            &>h4 {
                font-size: 18px;
                color: rgb(51, 51, 51);
                line-height: 1.2;
                font-weight: 400;
            }
            form {
                input {
                    border: 1px solid rgb(235, 235, 235);
                    background-color: rgb(255, 255, 255);
                    width: 224px;
                    height: 35px;
                    padding: 0 15px;
                    font-size: 12px;
                    margin-bottom: 15px;
                    transition: all 300ms;
                    &:focus {
                        border-color: @color-blue;
                        box-shadow: 0 4px 20px -7px rgba(0,0,0,1);
                        transform:scale(1.1);
                        transition: all 300ms;
                    }
                }
                .blue_btn {
                    background-color: rgb(84, 172, 210);
                    width: 226px;
                    border: none;
                    color: #fff;
                    padding: 10px 15px;
                    text-align: left;
                    font-weight: 300;
                    box-shadow: 3px 3px 0 rgb(44, 130, 201);position: relative;
                    cursor: pointer;
                    transition: all 300ms;
                    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                    &:after {
                        content: "\f101";
                        font-family: FontAwesome;
                        display: block;
                        width: 28px;
                        height: 28px;
                        background: #fff;
                        color: @color-blue;
                        position: absolute;
                        font-size: 30px;
                        line-height: 28px;
                        text-align: center;
                        right: 6px;
                        top:6px;
                        transition: all 400ms;
                        text-shadow: none;
                    }
                    &:hover {
                        transform: scale(1.08);
                        transition: all 300ms;
                        &:after {
                            transform: translate(15px,0);
                            transition: all 400ms;
                            box-shadow: 3px 4px 10px -5px rgba(0,0,0,1);
                        }
                    }
                }
            }
        }
    }

}


.contacts {
    position: relative;
    .contacts-header {
        min-height: 50px;
        background: rgba(255,255,255,0.6);
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        z-index: 900;
        box-shadow: 0 4px 5px rgba(0,0,0,0.2);
        h3 {
            text-align: center;
            font-size: 28px;
        }
    }
    .map {
        width: 100%;
        min-height: 500px;
    }
    .phones-wrapper {
        position: absolute;
        width: 300px;
        top:170px;
        left:50%;
        background: rgba(255,255,255,0.8);
        padding: 20px;
        margin-left: -470px;
        border: 3px solid lighten(@color-blue, 10%);
        box-shadow: 3px 3px 11px rgba(0,0,0,0.2);
        z-index: 900;
        h4 {
            font-size: 24px;
            margin: 0;
            font-weight: 400;
            text-align: center;
        }
        .row {
            margin: 15px 0;
            font-size: 18px;
            font-weight: 300;
        }
    }
}

// ----------------------------------- Custom Sever STYLES

.expandet_text {
    max-height: 210px;
    overflow: hidden;
    border-bottom: 1px dashed #ccc;
    position: relative;
    z-index: 0;
    padding: 0 15px 60px;
    transition:all 300ms;
    /*
*/
    &__action {
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        background: #fff;
        padding-bottom: 20px;
        padding-top: 5px;
        &:before {
            content: "";
            display: block;
            height: 40px;
            width: 100%;
            top:-40px;
            //border: 1px solid;
            left: 0;
            position: absolute;
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        }
        .expandet_text__btn {
            margin: 0 auto;
            display: table;
            background: transparent;
            border: none;
            cursor: pointer;
            font-size: 16px;
            color: @color-blue;
            position: relative;
            &:after {
                content: "\f107";
                font-family: "FontAwesome";
                margin-right: 5px;
                font-size: 18px;
                position: absolute;
                bottom: -13px;
                left:50%;
            }
        }
    }
    &__showed {
        transition:all 300ms;
        max-height: inherit;
    }
}


// ----------------  GLOBAL ------------

.callback-form {

    .form-title {
        width: 350px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
    }
    .vertical-form {
        padding: 20px;
        input {
            display: block;
            width: 350px;
            padding: 8px 15px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
        }
        .blue_btn {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }
    }
}

.work_area {
    min-height: 100vh;
}


.toggle_map {
    .blue_btn { margin-right: 20px; }
}
.maps {
    margin-top: 30px;
    height: 600px;
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 0 4px 25px -5px rgba(0,0,0,0.5);
}

// **************  LOGIN FORM *************/

.bx-auth {
    display: table;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 25px -9px rgba(0,0,0,0.5);
    padding: 25px;
    border-radius: 5px;
    &-note {
        font-size: 28px;
        text-align: center;
        margin: 0 0 20px 0 !important;
    }
    &-table {
        display: table;
        margin: 0 auto;
    }
    &-input {
        border: 1px solid #ccc;
        padding: 9px 15px;
        width: 100%;
        margin-bottom: 7px;
    }
    .authorize-submit-cell {
        input[type=submit] {
            border: none;
            background: #2c82c9;
            color: #fff;
            padding: 9px 18px;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    input[name=Register] {
        border: none;
        background: #2c82c9;
        color: #fff;
        padding: 9px 18px;
        margin-top: 10px;
        cursor: pointer;
    }    
}


/* FORGOT PASSW */
.vlx_forgotpassw_container {
    width: 500px;
    display: table;
    margin: 40px auto;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 25px -9px rgba(0,0,0,0.5);
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    .bx-forgotpass-table {
        margin: 30px auto;
    }
    .or_element {
        text-align: center;
        color: #777;
        font-size: 13px;
    }
    .form-control {
        border: 1px solid #ccc;
        padding: 9px 18px;
    }
    input {
        margin-bottom: 8px;
        width: 100%;
        margin-left: 10px;
    }
}


/*** PERSONAL ***/
.personal_page__table {
    //margin: 0 auto;
    border: 1px solid #ccc;
    background: #fff;
    padding: 30px 0;
    tr {
        & > td {
            padding: 0 30px;
            vertical-align: top;
            h4 {margin:0; padding: 0;}
            ul {
                padding: 0;
                margin: 15px 0;
                li {
                    list-style: none;
                    a {
                        display: block;
                        padding: 8px 10px;
                        text-decoration: none;
                        transition: all 300ms;
                        border: 1px solid transparent;
                        .fa {
                            width: 30px;
                            text-align: center;
                            margin-right: 5px;
                        }
                        &:hover {
                            transform: scale(1.07);
                            box-shadow: 0 3px 7px -2px rgba(0,0,0,0.4);
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            background: #eee;
                        }
                    }
                }
            }
        }
    }
}

/** PROFILES **/
.sale_personal_profile_list {
    margin-top: 20px;
    tr {
        th {
            background: #fff;
            nobr {
                display: inline-block;
                margin-left: 10px;
                transform: translateY(3px);
            }
        }
        th,td {padding: 10px;}
        td {
            font-size: 14px;
            &:last-child {
                a {
                    font-size: 12px;
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
    }
}


/* **** SHOPPING CART ****/

.bx_ordercart_order_table_container {
    background: #fff;
    table {
        thead {
            tr {
                &:first-child {
                    td {
                        font-size: 14px;
                        background: #dae8f5;
                    }
                }
            }
        }
        tr {
            td {
                .bx_ordercart_itemtitle a {
                    font-size: 16px !important;
                }
                .quantity_control {
                    padding: 4px;
                }
            }
        }
    }
}

/* ** CHECKUOT STEPS **/
.sheckout_steps {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 20px -5px rgba(0,0,0,0.5);
    .checkout_notes {
        font-size: 13px;
        margin-top: 20px;
    }
    .sale_order_full_table {
        input, textarea, select {
            border: 1px solid #ccc;
            padding: 8px 10px;
            width: 310px;
        }
        textarea {
            max-height: 100px;
        }
        input[type=radio] {
            width: inherit;
        }
    }
}