.cat-list.section {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}
.cat-list.section:after {
  content: "";
  width: 32%;
}
.item.cl {
  width: calc(23.80952381%);
  vertical-align: top;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  min-height: 200px;
  margin: 10px 0;
  overflow: hidden;
  padding: 15px 0;
  transition: all 400ms;
}
.item.cl .img {
  display: table;
  margin: 0 auto;
  height: 150px;
  overflow: hidden;
}
.item.cl .img img {
  max-height: 150px;
}
.item.cl .cont {
  width: 90%;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.item.cl:hover {
  transition: all 400ms;
  transform: scale(1.06);
  box-shadow: 0 10px 25px -10px rgba(0, 0, 60, 0.5);
}
.prod-list2 {
  display: table;
  width: 70%;
}
