.smartfilter {
  display: inline-block;
  float: left;
  margin-right: 25px;
  font-family: 'Roboto', sans-serif !important;
}
.smartfilter li.lvl2_disabled {
  color: #9b9b9b !important;
  text-shadow: none !important;
}
.smartfilter .filtren {
  background: none repeat scroll 0 0 #C4EAF5;
  background: none repeat scroll 0 0 #ffffff;
  border: 8px solid #e1f5fb;
  margin-top: 20px;
  position: relative;
  width: 250px;
}
.smartfilter .filtren h5 {
  font-size: 15px;
  margin-bottom: 23px;
  text-shadow: 0 1px 1px #ffffff;
}
.smartfilter .filtren td {
  padding-right: 8px;
}
.smartfilter .filtren ul > li > ul {
  overflow: hidden;
  padding-bottom: 10px;
}
.smartfilter .filtren label {
  font-size: 13px;
  color: #555;
  margin-left: 3px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  bottom: 2px;
}
.smartfilter .filtren .modef {
  background: none repeat scroll 0 0 white;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #8bbecb;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  color: #3f3f3f;
  font-size: 13px;
  margin-top: -13px;
  padding: 10px 25px 10px 10px;
  position: absolute;
  right: 200px;
  white-space: nowrap;
}
.smartfilter .filtren .ecke {
  -moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  background: none repeat scroll 0 0 #ffffff;
  border-right: 1px solid #8bbecb;
  border-top: 1px solid #8bbecb;
  box-shadow: 2px -1px 4px -1px rgba(0, 0, 0, 0.2);
  display: block;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  right: -7px;
  top: 50%;
  width: 10px;
}
.smartfilter .filtren .lvl1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
  padding: 0 10px;
}
.smartfilter .filtren .lvl1 .showchild {
  display: block;
  border: none;
  margin-bottom: 5px;
}
.smartfilter .filtren .lvl1 > ul {
  font-size: 13px;
}
.smartfilter .filtren .lvl2 {
  color: #000000;
  font-size: 14px;
  text-shadow: 0 1px 1px #ffffff;
  vertical-align: top;
}
.smartfilter .filtren .max-price {
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #8ca3ae;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 3px 6px rgba(215, 215, 215, 0.75) inset;
  display: block;
  float: right;
  height: 27px;
  padding: 4px;
  width: 60px;
}
.smartfilter .filtren .min-price {
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #8ca3ae;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 3px 6px rgba(215, 215, 215, 0.75) inset;
  display: block;
  height: 27px;
  padding: 4px;
  width: 60px;
}
.smartfilter .vieweditems {
  background: none repeat scroll 0 0 #ffffff;
  border: 8px solid #e1f5fb;
  margin-top: 20px;
  padding: 17px;
  width: 250px;
}
.smartfilter #del_filter {
  margin-top: 23px;
}
.smartfilter #set_filter {
  margin-top: 23px;
}
.smartfilter ol {
  list-style: none outside none;
}
.smartfilter ul {
  list-style: none outside none;
}
.smartfilter li {
  list-style: none outside none;
}
.smartfilter .filtren > ul > li > a {
  border-bottom: 1px dashed #000000;
  color: #000000;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: none;
}
.smartfilter div,
.smartfilter h5,
.smartfilter p,
.smartfilter ul,
.smartfilter li {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}
.smartfilter .filtren span.min-price,
.smartfilter .filtren span.max-price,
.smartfilter .filtren div.min-price,
.smartfilter .filtren div.max-price {
  border: medium none;
  box-shadow: none;
  color: #3f3f3f;
  font-size: 13px;
  height: 23px;
}
