// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 5 times
@color1: #8bbecb; // Appears 3 times
@color2: #000000; // Appears 3 times
@color3: #3f3f3f; // Appears 2 times
@color4: #e1f5fb; // Appears 2 times
@color5: #8ca3ae; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 250px; // Appears 2 times
@width1: 60px; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height1: 27px; // Appears 2 times

.smartfilter {
	display: inline-block;
	float: left;
	margin-right: 25px;
	font-family:'Roboto',sans-serif !important;
	li.lvl2_disabled {
		color: #9b9b9b !important;
		text-shadow: none !important;
	}
	.filtren {
		background: none repeat scroll 0 0 #C4EAF5;
		background: none repeat scroll 0 0 @color0;
		border: 8px solid @color4;
		margin-top: 20px;
		//padding: 17px;
		position: relative;
		width: @width0;
		h5 {
			font-size: 15px;
			margin-bottom: 23px;
			text-shadow: 0 1px 1px @color0;
		}
		td {
			padding-right: 8px;
		}
		ul>li>ul {
			overflow: hidden;
			padding-bottom: 10px;
		}
		label {
			font-size: 13px;
    		color: #555;
    		margin-left: 3px;
    		font-family:'Roboto',sans-serif;
    		position: relative;
    		bottom: 2px;
		}
		.modef {
			background: none repeat scroll 0 0 white;
			border-radius: 4px 4px 4px 4px;
			border: 1px solid @color1;
			box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
			color: @color3;
			font-size: 13px;
			margin-top: -13px;
			padding: 10px 25px 10px 10px;
			position: absolute;
			right: 200px;
			white-space: nowrap;
		}
		.ecke {
			-moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
			background: none repeat scroll 0 0 @color0;
			border-right: 1px solid @color1;
			border-top: 1px solid @color1;
			box-shadow: 2px -1px 4px -1px rgba(0, 0, 0, 0.2);
			display: block;
			height: 10px;
			margin-top: -5px;
			position: absolute;
			right: -7px;
			top: 50%;
			width: 10px;
		}
		.lvl1 {
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc; 
			margin-bottom: -1px;
			padding: 0 10px;
			.showchild {
				display: block;
				border: none;
				margin-bottom: 5px;
			}
			&>ul {
				font-size: 13px;
			}
		}
		.lvl2 {
			color: @color2;
			font-size: 14px;
			text-shadow: 0 1px 1px @color0;
			vertical-align: top;
		}
		.max-price {
			border-radius: 3px 3px 3px 3px;
			border: 1px solid @color5;
			box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 3px 6px rgba(215, 215, 215, 0.75) inset;
			display: block;
			float: right;
			height: @height1;
			padding: 4px;
			width: @width1;
		}
		.min-price {
			border-radius: 3px 3px 3px 3px;
			border: 1px solid @color5;
			box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), 0 3px 6px rgba(215, 215, 215, 0.75) inset;
			display: block;
			height: @height1;
			padding: 4px;
			width: @width1;
		}
	}
	.vieweditems {
		background: none repeat scroll 0 0 @color0;
		border: 8px solid @color4;
		margin-top: 20px;
		padding: 17px;
		width: @width0;
	}
	#del_filter {
		margin-top: 23px;
	}
	#set_filter {
		margin-top: 23px;
	}
	ol {
		list-style: none outside none;
	}
	ul {
		list-style: none outside none;
	}
	li {
		list-style: none outside none;
	}
	.filtren>ul>li>a {
		border-bottom: 1px dashed @color2;
		color: @color2;
		display: inline-block;
		font-size: 16px;
		margin-bottom: 5px;
		margin-top: 5px;
		text-decoration: none;
	}
}
.smartfilter div, .smartfilter h5, .smartfilter p, .smartfilter ul, .smartfilter li  {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}
.smartfilter .filtren span.min-price, .smartfilter .filtren span.max-price, .smartfilter .filtren div.min-price, .smartfilter .filtren div.max-price  {
	border: medium none;
	box-shadow: none;
	color: @color3;
	font-size: 13px;
	height: 23px;
}