/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@cart-ico-name: 'cart-ico';
@cart-ico-x: 129px;
@cart-ico-y: 49px;
@cart-ico-offset-x: -129px;
@cart-ico-offset-y: -49px;
@cart-ico-width: 30px;
@cart-ico-height: 24px;
@cart-ico-total-width: 176px;
@cart-ico-total-height: 142px;
@cart-ico-image: '../img/sprite.png';
@cart-ico: 129px 49px -129px -49px 30px 24px 176px 142px '../img/sprite.png' 'cart-ico';
@ico1-name: 'ico1';
@ico1-x: 77px;
@ico1-y: 0px;
@ico1-offset-x: -77px;
@ico1-offset-y: 0px;
@ico1-width: 47px;
@ico1-height: 48px;
@ico1-total-width: 176px;
@ico1-total-height: 142px;
@ico1-image: '../img/sprite.png';
@ico1: 77px 0px -77px 0px 47px 48px 176px 142px '../img/sprite.png' 'ico1';
@ico2-name: 'ico2';
@ico2-x: 0px;
@ico2-y: 97px;
@ico2-offset-x: 0px;
@ico2-offset-y: -97px;
@ico2-width: 45px;
@ico2-height: 45px;
@ico2-total-width: 176px;
@ico2-total-height: 142px;
@ico2-image: '../img/sprite.png';
@ico2: 0px 97px 0px -97px 45px 45px 176px 142px '../img/sprite.png' 'ico2';
@ico3-name: 'ico3';
@ico3-x: 129px;
@ico3-y: 0px;
@ico3-offset-x: -129px;
@ico3-offset-y: 0px;
@ico3-width: 47px;
@ico3-height: 44px;
@ico3-total-width: 176px;
@ico3-total-height: 142px;
@ico3-image: '../img/sprite.png';
@ico3: 129px 0px -129px 0px 47px 44px 176px 142px '../img/sprite.png' 'ico3';
@ico4-name: 'ico4';
@ico4-x: 0px;
@ico4-y: 44px;
@ico4-offset-x: 0px;
@ico4-offset-y: -44px;
@ico4-width: 49px;
@ico4-height: 48px;
@ico4-total-width: 176px;
@ico4-total-height: 142px;
@ico4-image: '../img/sprite.png';
@ico4: 0px 44px 0px -44px 49px 48px 176px 142px '../img/sprite.png' 'ico4';
@ico5-name: 'ico5';
@ico5-x: 0px;
@ico5-y: 0px;
@ico5-offset-x: 0px;
@ico5-offset-y: 0px;
@ico5-width: 72px;
@ico5-height: 39px;
@ico5-total-width: 176px;
@ico5-total-height: 142px;
@ico5-image: '../img/sprite.png';
@ico5: 0px 0px 0px 0px 72px 39px 176px 142px '../img/sprite.png' 'ico5';
@phone-ico-name: 'phone-ico';
@phone-ico-x: 77px;
@phone-ico-y: 53px;
@phone-ico-offset-x: -77px;
@phone-ico-offset-y: -53px;
@phone-ico-width: 23px;
@phone-ico-height: 22px;
@phone-ico-total-width: 176px;
@phone-ico-total-height: 142px;
@phone-ico-image: '../img/sprite.png';
@phone-ico: 77px 53px -77px -53px 23px 22px 176px 142px '../img/sprite.png' 'phone-ico';
@spritesheet-width: 176px;
@spritesheet-height: 142px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @cart-ico @ico1 @ico2 @ico3 @ico4 @ico5 @phone-ico;
@spritesheet: 176px 142px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
