.catalog-price {
  color: red;
}
.card .view {
  float: left;
}
.card .view .photo ul li .wrap img {
  margin: 0 auto;
}
.card .view .photo .card_image_slider {
  background: #fff;
  padding: 0;
  width: 400px;
  border: 1px solid #ccc;
  position: relative;
}
.card .view .photo .card_image_slider .slick-prev,
.card .view .photo .card_image_slider .slick-next {
  position: absolute;
  z-index: 1;
  top: 49%;
  font-size: 28px;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: all 250ms;
          transition: all 250ms;
}
.card .view .photo .card_image_slider .slick-prev:hover,
.card .view .photo .card_image_slider .slick-next:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 250ms;
          transition: all 250ms;
}
.card .view .photo .card_image_slider .slick-next {
  right: 10px;
}
.card .view .photo .card_image_slider .slick-prev {
  left: 10px;
}
.card .view .card_image_slider_nav {
  width: 400px;
}
.card .view .card_image_slider_nav .slick-track {
  width: 400px;
}
.card .view .card_image_slider_nav a.slick-slide {
  overflow: hidden;
  margin: 0 4px;
  height: 62px;
  background: #fff;
  opacity: 0.6;
}
.card .view .card_image_slider_nav a.slick-slide img {
  max-width: 90px;
  margin: 0 auto;
  height: 100%;
}
.card .view .card_image_slider_nav a.slick-current {
  opacity: 1;
  margin: 0 4px;
  border: 1px solid blue;
  position: relative;
}
.card .cont_right {
  float: right;
  display: table;
  width: 500px;
}
.card .cont_right .descr {
  font-size: 14px;
}
.card .cont_right .char ul {
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 40px;
}
.card .cont_right .char ul li {
  list-style: none;
  position: relative;
  margin-top: 6px;
  padding-bottom: 4px;
  font-size: 14px;
}
.card .cont_right .char ul li:last-child:after {
  display: none;
}
.card .cont_right .char ul li:after {
  content: "";
  height: 0;
  width: 100%;
  border-bottom: 1px dotted #bac;
  display: block;
  position: absolute;
  bottom: 0px;
}
.card .cont_right .char ul li .left {
  margin-left: 15px;
}
.card .cont_right .char ul li .right {
  float: right;
  margin-right: 15px;
}
.card .cont_right .price-buy .price {
  float: left;
  font-size: 21px;
  font-weight: 600;
}
.card .cont_right .price-buy .buy {
  float: right;
}
.card .cont_right .soc {
  margin-top: 20px;
}
.info {
  padding-top: 40px;
}
.info .tab-ctrl ul {
  padding: 0;
  margin: 0;
}
.info .tab-ctrl ul li {
  display: inline-block;
}
.info .tab-ctrl ul li.curr a {
  background: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: none;
}
.info .tab-ctrl ul li.curr a:hover {
  background: #fff;
}
.info .tab-ctrl ul li a {
  box-shadow: inset 0 -16px 29px -15px rgba(0, 0, 0, 0.2);
  background: #eee;
  border: 1px solid #ccc;
  padding: 0 15px;
  text-decoration: none;
  display: block;
  height: 40px;
  line-height: 40px;
  color: #0000ff;
}
.info .tab-ctrl ul li a:hover {
  background: #ddd;
}
.info .tab-cont {
  background: #fff;
  border: 1px solid #ccc;
  padding: 25px 15px;
  margin-top: -1px;
}
.info .tab-cont-item {
  display: none;
}
.info .tab-cont-item .prod-list4 .item {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background: #fff;
  padding: 10px;
}
.info .tab-cont-item .prod-list4 .item:hover {
  -webkit-transition: all 300ms;
          transition: all 300ms;
  box-shadow: 0 4px 25px -3px rgba(0, 0, 0, 0.3);
}
.info .tab-cont-item .prod-list4 .item .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.info .tab-cont-item .prod-list4 .item .wrap .img {
  width: 20%;
}
.info .tab-cont-item .prod-list4 .item .wrap .img a {
  display: block;
  height: 100%;
  position: relative;
}
.info .tab-cont-item .prod-list4 .item .wrap .img a img {
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.info .tab-cont-item .prod-list4 .item .wrap .cont {
  width: 55%;
  padding-right: 15px;
}
.info .tab-cont-item .prod-list4 .item .wrap .cont .head .link a {
  color: #0000ff;
}
.info .tab-cont-item .prod-list4 .item .wrap .cont .cl {
  padding-top: 10px;
}
.info .tab-cont-item .prod-list4 .item .wrap .cont .cl .char ul {
  margin: 0;
  padding: 0;
}
.info .tab-cont-item .prod-list4 .item .wrap .cont .cl .char ul li {
  margin: 5px 0;
  list-style: none;
  font-size: 14px;
  position: relative;
}
.info .tab-cont-item .prod-list4 .item .wrap .cont .cl .char ul li:after {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px dashed #ccc;
  position: absolute;
  bottom: 3px;
  left: 0;
}
.info .tab-cont-item .prod-list4 .item .wrap .cont .cl .char ul li .left {
  color: #777;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 2px 4px;
}
.info .tab-cont-item .prod-list4 .item .wrap .cont .cl .char ul li .right {
  float: right;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 2px 4px;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy {
  width: 25%;
  overflow: hidden;
  text-align: center;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .price {
  font-size: 21px;
  margin-top: 30px;
  margin-bottom: 28px;
  font-weight: bold;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count {
  margin: 15px 0 0;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset {
  border: none;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset input[name=quantity] {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  box-shadow: inset 1px 2px 18px -8px rgba(0, 0, 0, 0.9);
  border: 1px solid #aaa;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset .minus,
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset .plus {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  width: 30px;
  text-decoration: none;
  border: 1px solid #aaa;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset .minus:hover,
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset .plus:hover {
  background: #ddd;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset .minus {
  margin-right: -5px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.info .tab-cont-item .prod-list4 .item .wrap .price-buy .count fieldset .plus {
  margin-left: -5px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
