
@base-font: 'Roboto', sans-serif;
@color-blue: rgb(44, 130, 201);



.cat-list {
	&.section {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 20px;
		&:after {
			content: "";
			width: 32%;
		}
	}
}

.item.cl {
    width: calc(100% / 4.2);
    vertical-align: top;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    min-height: 200px;
    margin: 10px 0;
    overflow: hidden;
    padding: 15px 0;
    transition: all 400ms;
    .img {
    	display: table;
    	margin: 0 auto;
    	height: 150px;
    	overflow: hidden;
    	img {
    		max-height: 150px;
    	}
    }
    .cont {
    	width: 90%;
    	margin: 0 auto;
    	display: block;
    	text-align: center;
    }
    &:hover {
    	transition: all 400ms;
    	transform: scale(1.06);
    	box-shadow: 0 10px 25px -10px rgba(0, 0, 60, 0.5);
    }
}



.sort {
    display: table;
    margin-bottom: 25px;
    &_param {
        margin-left: 5px;
        display: inline-block;
        &_value {
            display: inline-block;
            margin-left: 10px;
            border-bottom: 1px dashed @color-blue;
            a {
                text-decoration: none;
                color: @color-blue;
            }
        }
    }
}



.prod-list2 {
    //display: table;
    width: 73%;
    float: right;
    .item {
        border: 1px solid #ccc;
        margin-bottom: 20px;
        background: #fff;
        padding: 10px;
        &:hover {
            transition: all 300ms;
            box-shadow: 0 4px 25px -3px rgba(0, 0, 0, 0.3);
        }
        .wrap {
            display: flex;
            flex-wrap: wrap;
            .img {
                width: 20%;
                a img {
                    //transform: translateY(50%);
                }
            }
            .cont {
                width: 55%;
                padding-right: 15px;
                .head {
                    .link a{
                        color: @color-blue; 
                    }
                }
                .cl {
                    padding-top: 10px;
                    .char {
                        ul {
                            margin: 0;
                            padding: 0;
                            li {
                                margin: 5px 0;
                                list-style: none;
                                font-size: 14px;
                                position: relative;
                                &:after {
                                        content: "";
                                        width: 100%;
                                        height: 1px;
                                        border: 1px dashed #ccc;
                                        position: absolute;
                                        bottom: 3px;
                                        left:0;
                                }
                                .left {
                                    color: #777;
                                    background: #fff;
                                    position: relative;
                                    z-index: 2;
                                    padding: 2px 4px;
                                }
                                .right {
                                    float: right; 
                                    background: #fff;
                                    position: relative;
                                    z-index: 2;
                                    padding: 2px 4px;
                                }
                            }
                        }
                    }
                }
            }
            .price-buy {
                width: 25%;
                overflow: hidden;
                text-align: center;
                .price {
                    font-size: 21px;
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                .count {
                    margin: 15px 0 0;
                    fieldset {
                        border: none;
                        input[name=quantity] {
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            padding: 5px;
                            font-size: 15px;
                            transform: translateY(-1px);
                            box-shadow: inset 1px 2px 18px -8px rgba(0, 0, 0, 0.9);
                            border:1px solid #aaa;
                        }
                        .minus, .plus {
                            //background: @color-blue;
                            //color: #fff;
                            height: 30px;
                            line-height: 30px;
                            display: inline-block;
                            width: 30px;
                            text-decoration: none;
                            border: 1px solid #aaa;
                            &:hover {
                                background: #ddd;
                            }
                        }
                        .minus {
                            margin-right: -5px;
                            border-bottom-left-radius: 6px;
                            border-top-left-radius: 6px;
                        }
                        .plus {
                            margin-left: -5px;
                            border-bottom-right-radius: 6px;
                            border-top-right-radius: 6px;
                        }
                    }
                }
            }
        }
    }
}

