.expandet_text {
	max-height: 210px;
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
	position: relative;
	z-index: 0;
	padding: 0 15px 60px;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.expandet_text__action .expandet_text__btn {
	margin: 0 auto;
	display: table;
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #2c82c9;
	position: relative;
}
.expandet_text__action .expandet_text__btn:after {
	 content: "\f107";
	 font-family: "FontAwesome";
	 margin-right: 5px;
	 font-size: 18px;
	 position: absolute;
	 bottom: -13px;
	 left: 50%;
 }
.expandet_text__action {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding-bottom: 20px;
	padding-top: 5px;
}
.expandet_text__action:before {
	content: "";
	display: block;
	height: 40px;
	width: 100%;
	top: -40px;
	left: 0;
	position: absolute;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0, #fff 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0, #fff 100%);
}
.expandet_text__showed {
	 -webkit-transition: all 300ms;
	 transition: all 300ms;
	 max-height: inherit;
 }



.cat-list.section {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
	width: 100%;
}
.cat-list.section:after {
	content: "";
	width: 32%;
}
.item.cl {
	width: calc(23.80952381%);
	vertical-align: top;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 5px;
	min-height: 200px;
	margin: 10px 0;
	overflow: hidden;
	padding: 15px 0;
	transition: all 400ms;
}
.item.cl .img {
	display: table;
	margin: 0 auto;
	height: 150px;
	overflow: hidden;
}
.item.cl .img img {
	max-height: 150px;
}
.item.cl .cont {
	width: 90%;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.item.cl:hover {
	transition: all 400ms;
	transform: scale(1.06);
	box-shadow: 0 10px 25px -10px rgba(0, 0, 60, 0.5);
}
.item.cl.empty_item {
	height: 0;
	background: transparent;
	border: none;
	padding: 0;
	min-height: 0;
}
.sort {
	display: table;
	margin-bottom: 25px;
}
.sort_param {
	margin-left: 5px;
	display: inline-block;
}
.sort_param_value {
	display: inline-block;
	margin-left: 10px;
	border-bottom: 1px dashed #2c82c9;
}
.sort_param_value a {
	text-decoration: none;
	color: #2c82c9;
}
.prod-list2 {
	width: 73%;
	float: right;
}
.prod-list2 .item {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	background: #fff;
	padding: 10px;
}
.prod-list2 .item:hover {
	transition: all 300ms;
	box-shadow: 0 4px 25px -3px rgba(0, 0, 0, 0.3);
}
.prod-list2 .item .wrap {
	display: flex;
	flex-wrap: wrap;
}
.prod-list2 .item .wrap .img {
	width: 20%;
}
.prod-list2 .item .wrap .cont {
	width: 55%;
	padding-right: 15px;
}
.prod-list2 .item .wrap .cont .head .link a {
	color: #2c82c9;
}
.prod-list2 .item .wrap .cont .cl {
	padding-top: 10px;
}
.prod-list2 .item .wrap .cont .cl .char ul {
	margin: 0;
	padding: 0;
}
.prod-list2 .item .wrap .cont .cl .char ul li {
	margin: 5px 0;
	list-style: none;
	font-size: 14px;
	position: relative;
}
.prod-list2 .item .wrap .cont .cl .char ul li:after {
	content: "";
	width: 100%;
	height: 1px;
	border: 1px dashed #ccc;
	position: absolute;
	bottom: 3px;
	left: 0;
}
.prod-list2 .item .wrap .cont .cl .char ul li .left {
	color: #777;
	background: #fff;
	position: relative;
	z-index: 2;
	padding: 2px 4px;
}
.prod-list2 .item .wrap .cont .cl .char ul li .right {
	float: right;
	background: #fff;
	position: relative;
	z-index: 2;
	padding: 2px 4px;
}
.prod-list2 .item .wrap .price-buy {
	width: 25%;
	overflow: hidden;
	text-align: center;
}
.prod-list2 .item .wrap .price-buy .price {
	font-size: 21px;
	margin-top: 30px;
	margin-bottom: 15px;
}
.prod-list2 .item .wrap .price-buy .count {
	margin: 15px 0 0;
}
.prod-list2 .item .wrap .price-buy .count fieldset {
	border: none;
}
.prod-list2 .item .wrap .price-buy .count fieldset input[name=quantity] {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transform: translateY(-1px);
	box-shadow: inset 1px 2px 18px -8px rgba(0, 0, 0, 0.9);
	border: 1px solid #aaa;
}
.prod-list2 .item .wrap .price-buy .count fieldset .minus,
.prod-list2 .item .wrap .price-buy .count fieldset .plus {
	height: 30px;
	line-height: 30px;
	display: inline-block;
	width: 30px;
	text-decoration: none;
	border: 1px solid #aaa;
}
.prod-list2 .item .wrap .price-buy .count fieldset .minus:hover,
.prod-list2 .item .wrap .price-buy .count fieldset .plus:hover {
	background: #ddd;
}
.prod-list2 .item .wrap .price-buy .count fieldset .minus {
	margin-right: -5px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
.prod-list2 .item .wrap .price-buy .count fieldset .plus {
	margin-left: -5px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
