.bx_filter_horizontal {
  display: inline-block;
  float: left;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Roboto', sans-serif !important;
  margin-right: 25px;
}
.bx_filter_horizontal .bx_filter_title {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
.bx_filter_horizontal .bx_filter_container {
  float: none;
  width: 220px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
  padding: 10px;
}
.bx_filter_horizontal .bx_filter_container:hover {
  background: #eee;
}
.bx_filter_horizontal .active:hover {
  background: transparent;
}
.bx_filter_horizontal .active .bx_filter_container_title:after {
  transition: all 200ms;
  transform: rotate(180deg) translateY(50%);
}
.bx_filter_horizontal .bx_filter_container_title {
  color: #000000;
  display: inline-block;
  font-size: 14px;
  display: block;
  cursor: pointer;
  position: relative;
}
.bx_filter_horizontal .bx_filter_container_title:after {
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 200ms;
  opacity: 0.5;
}
.bx_filter_horizontal .bx_filter_block {
  display: none;
  padding: 0;
  padding-top: 7px;
}
.bx_filter_horizontal .bx_filter_block span {
  display: block;
  padding-bottom: 2px;
}
.bx_filter_horizontal .bx_filter_block span input[type=checkbox] {
  bottom: -4px;
  position: relative;
}
.bx_filter_horizontal .bx_filter_block span label {
  font-size: 12px;
  line-height: 11px;
  vertical-align: bottom;
}
.bx_filter_horizontal .bx_filter_param_area {
  margin-bottom: 5px;
  margin-top: 14px;
}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #3f3f3f;
  float: left;
  font-size: 11px;
  text-align: right;
  width: 50%;
}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block .bx_input_container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: -moz-linear-gradient(top, #8ca3ae 0%, #b6c8d2 100%);
  background: -ms-linear-gradient(top, #8ca3ae 0%, #b6c8d2 100%);
  background: -o-linear-gradient(top, #8ca3ae 0%, #b6c8d2 100%);
  background: #8ca3ae;
  background: linear-gradient(to bottom, #8ca3ae 0%, #b6c8d2 100%);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color2', endColorstr='@color3', GradientType=0);
  height: 20px;
  max-width: 70px;
  padding: 1px;
}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #ffffff;
  border-radius: 2px;
  border: none;
  box-shadow: inset 0 3px 6px 0 rgba(215, 215, 215, 0.75);
  box-sizing: border-box;
  display: inline-block;
  height: 18px;
  margin: 0;
  max-width: 70px;
  padding: 0 4px;
  width: 100%;
}
.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block:first-child {
  text-align: left;
}
.bx_filter_horizontal .bx_ui_slider_track {
  background: #bbd8e0;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  height: 6px;
  margin: 15px 10px 10px;
  position: relative;
}
.bx_filter_horizontal .bx_ui_slider_range {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #00a1e3;
  border: 1px solid #3f99dd;
  bottom: 0;
  box-shadow: inset 0 1px 0 0 #3bb7e9;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}
.bx_filter_horizontal .bx_ui_slider_handle {
  background: url(images/handle.png) no-repeat center;
  height: 21px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 20px;
}
.bx_filter_horizontal .bx_ui_slider_handle.left {
  margin-left: -10px;
}
.bx_filter_horizontal .bx_ui_slider_handle.right {
  margin-right: -10px;
}
.bx_filter_horizontal .bx_filter_control_section {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: left;
}
.bx_filter_horizontal .bx_filter_search_button {
  background: -moz-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
  background: -ms-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
  background: -o-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9fafa), color-stop(100%, #e4f1f5));
  background: -webkit-linear-gradient(top, #f9fafa 0%, #e4f1f5 100%);
  background: #f9fafa;
  background: linear-gradient(to bottom, #f9fafa 0%, #e4f1f5 100%);
  background: url(data:image/svg+xml;
		base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGYxZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  border-bottom: 1px solid #bac6ca;
  border-left: 1px solid #c6d3d6;
  border-radius: 3px;
  border-right: 1px solid #c6d3d6;
  border-top: 1px solid #d3dfe2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.11);
  color: #4f4f4f;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color0', endColorstr='@color1', GradientType=0);
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  margin-right: 7px;
  padding: 0 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75);
}
.bx_filter_horizontal .bx_filter_search_button:hover {
  background: #f9fafa;
}
.bx_filter_horizontal .bx_filter_search_button:active {
  background: -moz-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
  background: -ms-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
  background: -o-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f5), color-stop(100%, #f9fafa));
  background: -webkit-linear-gradient(top, #e4f1f5 0%, #f9fafa 100%);
  background: #e4f1f5;
  background: linear-gradient(to bottom, #e4f1f5 0%, #f9fafa 100%);
  background: url(data:image/svg+xml;
			base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  bottom: -1px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color0', GradientType=0);
  position: relative;
}
.bx_filter_horizontal .bx_filter_search_button span {
  background: url(images/searchicon.png) no-repeat center;
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  vertical-align: middle;
  width: 14px;
}
.bx_filter_horizontal .bx_filter_popup_result {
  background: #ffffff;
  border-bottom: 1px solid #c0d6dc;
  border-left: 1px solid #c0d7dd;
  border-radius: 3px;
  border-right: 1px solid #c0d7dd;
  border-top: 1px solid #c0d6dc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  color: #3f3f3f;
  display: none;
  font-size: 13px;
  font-weight: normal;
  height: 33px;
  line-height: 33px;
  padding: 0 10px;
  position: static !important;
}
.bx_filter_horizontal .bx_filter_popup_result a {
  color: #0073a3;
}
.bx_filter_horizontal .bx_filter_popup_result a:hover {
  text-decoration: none;
}
/*
@media {
	(max-width {
		&:750px) {
			.bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block input{max-width:50px;
		}
		&:640px) {
			.bx-touch .bx_filter_horizontal .bx_filter_param_area .bx_filter_param_area_block input{max-width:70px;
		}
		&:450px) {
			.bx-touch .bx_filter_horizontal .bx_filter_container{ float: none;
			width: 100%;
		}
	}
	(min-width {
		&:640px) {
			.bx_filter_horizontal .bx_filter_block{ display: block !important;
			height: auto !important;
			opacity: 1 !important;
		}
	}
}
*/
.bx-touch .bx_filter_horizontal .bx_filter_container {
  width: 50%;
}
.bx-touch .bx_filter_horizontal .bx_filter_container:nth-child(4n+2) {
  clear: none;
}
.bx-touch .bx_filter_horizontal .bx_filter_container:nth-child(2n+2) {
  clear: both;
  clear: none;
}
.bx-touch .bx_filter_horizontal .bx_filter_container .bx_filter_block {
  display: none;
}
.bx-touch .bx_filter_horizontal .bx_filter_container.active .bx_filter_block {
  display: block;
}
.bx-touch .bx_filter_horizontal .bx_filter_popup_result {
  font-size: 12px;
  height: auto;
  line-height: 14px;
  padding: 10px;
  position: fixed !important;
}
