.bx_catalog_list_home {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5
}

@media (max-width:640px) {
    .bx_catalog_list_home {
        border-bottom: 1px solid #e5e5e5
    }
}


@keyframes borderview {
    from {
        border: 1px solid #fdfdfd;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    }
    to {
        border: 1px solid #d3d3d3;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18)
    }
}

@-webkit-keyframes borderview {
    from {
        border: 1px solid #fdfdfd;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
    }
    to {
        border: 1px solid #d3d3d3;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18)
    }
}



.work_area .navigation {
    width: 60%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 0
}

.work_area .navigation-arrows {
    margin: 5px 0
}




/* ---------- VLX CUSTOM ----------------- */


.bx_catalog__table {border-collapse: collapse; width: 100%;}
.bx_catalog__table tr:first-child {background: #aed8ff;}
.bx_catalog__table tr th:first-child {text-align: left;}
.bx_catalog__table tr th { padding: 12px 15px; }

.bx_catalog__table tr td { padding: 8px 15px; background: #fff; border-bottom: 1px solid #ccc; }
.bx_catalog__table tr td a { text-decoration: none; font-size: 14px; }
.bx_catalog__table tr td a:hover { text-decoration: underline; }
.bx_catalog__table tr:nth-child(odd) td {background: #f5f5f5;}

.bx_catalog__table .table_price{white-space: nowrap;}
.bx_catalog__table tr:hover td {background: #c3e9f4;}
.bx_catalog__table {}



.grid2x1 .bx_content_section {
    float: right;
    width: 75%;
}
.grid2x1 .bx_sidebar {
    float: left;
    width: 25%;
    padding-left: 0;
    padding-right: 20px;
}
.bx_filter_vertical.bx_blue .bx_filter_section {
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 21px;
}
.bx_filter_vertical.bx_blue .bx_filter_search_button {
    background: #2c82c9;
    border: none;
    color: #fff;  
    font-weight: 300;
    //box-shadow: 3px 3px 0 #2c82c9;
    box-shadow: none;
    cursor: pointer;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
