@charset "UTF-8";
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Slider */
.slick-loading .slick-list {
    background: #ffffff url('ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/slick.eot');
    src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
    left: -25px;
}
.slick-prev[dir="rtl"] {
    left: auto;
    right: -25px;
}
.slick-prev:before {
    content: "←";
}
.slick-prev:before[dir="rtl"] {
    content: "→";
}
.slick-next {
    right: -25px;
}
.slick-next[dir="rtl"] {
    left: -25px;
    right: auto;
}
.slick-next:before {
    content: "→";
}
.slick-next:before[dir="rtl"] {
    content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}
* {
    box-sizing: border-box;
    outline-width: 0;
}
.clearfix{
    display:inline-block;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix {
    zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}
/* IE7 */
html {
    font-size: 14px;
}
.vlx-minheight {
    min-height: 100vh;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
body {
    margin: 0;
    background: #f8f8f8;
}
label {
    color: #000;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}
.uk-notification-message {
    background: lightgreen;
    color: #000;
    border-radius: 6px;
}
.work-area {
    padding: 2rem 0;
}
.clear-button {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: inherit;
    border-radius: 6px;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: all 250ms;
}
.clear-button:hover {
    background: rgba(0, 0, 0, 0.1);
}
.clear-button .uk-icon {
    color: red;
}
.btn {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 6px;
    background-color: #2580cc;
    color: #fff;
    cursor: pointer;
    transition: all 280ms;
}
.btn:hover {
    background: #124f89;
}
.btn-prime {
    transition: all 300ms;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2NjNhYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1ODBjYyIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkaWVudCkiIC8+PC9zdmc+');
    box-shadow: inset 0 -5px 3px -4px #1661a9, 0 5px 8px -5px #1661a9;
}
.btn-prime:hover {
    transform: scale(1.05);
    box-shadow: inset 0 -5px 3px -4px #1661a9, 0 7px 10px -5px #1661a9;
}
.btn-white {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
}
.btn-white:hover {
    background: #ededed;
}
.btn .fa {
    margin-right: 5px;
}
.userbar {
    background: #1b588c;
    color: #fff;
    padding: 5px 0;
}
.userbar__list {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}
.userbar__list li {
    display: inline-block;
    list-style: none;
    padding: 7px 0 7px 3px;
    font-weight: 100;
    font-size: 0.9em;
}
.userbar__list li:after {
    content: "•";
    display: inline-block;
    padding-left: 7px;
}
.userbar__list li:last-child:after {
    display: none;
}
.userbar-profile {
    background: #133e62;
    display: inline-block;
    padding: 4px 10px;
    float: right;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    z-index: 5;
}
.userbar-profile .uk-icon {
    display: inline-block;
    vertical-align: middle;
}
.userbar-profile__name {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-weight: 100;
    min-width:100px;
}
.userbar-profile:hover .userbar__nav {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
.userbar__nav {
    visibility: hidden;
    transition: all 300ms;
    transform: translateY(30px);
    opacity: 0;
    color: #000000;
    width: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 25px -8px rgba(0, 0, 0, 0.2), 0 0 30px -3px rgba(0, 0, 0, 0.1);
}
.userbar__nav:before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
}
.userbar__nav ul {
    padding: 0;
    margin: 0;
}
.userbar__nav ul li {
    list-style: none;
}
.userbar__nav ul li a {
    padding: 6px 13px;
    text-decoration: none;
    display: block;
    font-weight: 100;
}
.userbar__nav ul li a .uk-icon {
    vertical-align: middle;
    margin-top: -5px;
    padding-right: 5px;
}
.userbar__nav ul li a:hover {
    background: #eee;
}
.userbar__nav_red {
    color: red;
}
.header {
    padding: 1rem 0;
}
.header .logo {
    margin-top: 10px;
}
.header .mini-cart {
    display: inline-block;
    position: relative;
    color: #2580cc;
}
.header .mini-cart .uk-badge {
    position: absolute;
    top: -4px;
    right: -7px;
}
.header-nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 3px 1.2rem;
}
.header-nav li {
    display: inline-block;
    list-style: none;
}
.header-nav li a {
    padding: 5px 5px;
    display: block;
    color: #000000;
    font-weight: 500;
}
.header-cart {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3rem;
}
.header-cart__right {
    float: right;
    padding-left: 1rem;
}
.header-cart__price {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 5px;
    color: #000;
    line-height: 1;
}
.header-contacts {
    float: right;
    text-align: right;
    vertical-align: top;
}
.header-contacts a {
    display: block;
    color: #000000;
    text-decoration: none;
}
.header-contacts a .fa,
.header-contacts a .uk-icon {
    color: #2580cc;
    font-size: 1.2em;
    vertical-align: middle;
    padding-right: 5px;
}
.header-contacts__tel {
    font-size: 1.7em;
    text-decoration: none;
    padding: 0 0 0;
}
a.header-contacts__callback {
    color: #2580cc;
    display: inline-block;
    border-bottom: 1px dashed;
}
/*navigation*/
.leftnav {
    width: 300px;
    background: #fff;
    min-height: 100px;
    border-radius: 6px;
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
}
.leftnav ul {
    padding: 1rem 0;
    margin: 0;
}
.leftnav ul li {
    list-style: none;
}
.leftnav ul li a {
    font-weight: bold;
    color: #2580cc;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 6px;
    text-decoration: none;
    margin: 2px 0;
}
.leftnav ul li a:hover {
    background: rgba(0, 0, 0, 0.05);
}
.leftnav ul li a.active {
    color: #fff;
    background: #2580cc;
}
.breadcrumbs {
    padding: 0.6rem 0;
    margin: 0;
    display: block;
}
.breadcrumbs li {
    display: inline-block;
}
.breadcrumbs li:before {
    content: "\f105";
    font-family: "FontAwesome";
    padding: 0 10px;
}
.breadcrumbs li:first-child:before {
    display: none;
}
.breadcrumbs li a {
    color: #2580cc;
    cursor: pointer;
}
.catalog-view-toggler {
    border: none;
    border-radius: 6px;
    overflow: hidden;
    padding-right: 1px;
    vertical-align: middle;
}
.catalog-view-toggler .btn-toggle {
    background: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: -1px;
    padding: 0.3rem 0.4rem;
    transition: all 280ms;
}
.catalog-view-toggler .btn-toggle_active {
    color: #2580cc;
}
.catalog-view-toggler .btn-toggle:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.catalog-view-toggler .btn-toggle:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.catalog-view-toggler .btn-toggle:hover {
    background: rgba(0, 0, 0, 0.1);
}
.catalog-list thead .uk-button-text {
    color: #2580cc;
}
.catalog-list tbody tr td {
    padding: 0.3rem 0.6rem;
    vertical-align: middle;
    color: #000;
    font-size: 0.9em;
}
.catalog-list tbody tr td .btn {
    font-weight: 100;
    font-size: 0.9em;
    vertical-align: top;
    padding: 0.3rem 1rem;
}
.catalog-list tbody tr td .btn .uk-icon {
    vertical-align: middle;
    margin-right: 5px;
}
.catalog-list tbody tr td .add-to-cart {
    opacity: 0;
    visibility: hidden;
}
.catalog-list tbody tr:hover td .add-to-cart {
    opacity: 1;
    visibility: visible;
}
.catalog-pagination {
    display: inline-block;
    padding: 0 3rem;
}
.catalog-perpage {
    width: 250px;
    display: inline-block;
    float: right;
    text-align: right;
}
.catalog-perpage__select {
    width: 60px;
    margin-left: 10px;
    border-radius: 6px;
}
.product-tile {
    background: #fff;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    width: 200px;
    padding: 1rem;
    transition: all 280ms;
    position: relative;
    margin-bottom: 2rem;
}
.product-tile__name h4 {
    line-height: 1.1;
    font-size: 1rem;
    font-weight: bold;
}
.product-tile__description {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}
.product-tile__description .product-param {
    line-height: 1.2;
    padding-bottom: 0.5rem;
}
.product-tile__description .product-param:last-child {
    padding-bottom: 0;
}
.product-tile__description .product-param__name {
    font-size: 0.8em;
}
.product-tile__description .product-param__value {
    font-size: 0.9em;
    font-weight: bold;
    color: #000;
}
.product-tile__price {
    color: #000;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 0.5rem;
}
.product-tile .full-tile {
    visibility: hidden;
    opacity: 0;
    transition: all 230ms;
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
}
.product-tile:hover {
    transform: scale(1.03);
    box-shadow: none;
    z-index: 10;
}
.product-tile:hover .full-tile {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 5px 25px -4px rgba(0, 0, 0, 0.5);
}
.empty-product-tile {
    height: 0;
    width: 200px;
}
.product__img {
    width: 50px;
    position: relative;
    overflow: hidden;
    background: #ccc;
}
.product-count {
    width: 70px;
    position: relative;
    display: table;
}
.product-count__input {
    display: inline-block;
    min-width: inherit;
    width: 20px;
    background: transparent;
    border: none;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.product-count__plus,
.product-count__minus {
    background: none;
    border: none;
    cursor: pointer;
}
.product-count__plus {
    float: right;
}
.product-count__minus {
    float: left;
}
.smart-filter {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
}
.smart-filter__header {
    padding: 1rem;
}
.smart-filter__title {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}
.smart-filter__section {
    padding: 1rem;
    border-top: 1px solid #ccc;
}
.smart-filter__section .uk-form-controls label {
    padding: 5px 0;
    display: block;
}
.smart-filter__section .uk-form-controls label input {
    margin-right: 7px;
}
.smart-filter__label {
    color: #000000;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.smart-filter__price-control {
    text-align: center;
}
.smart-filter__price-control .dash {
    display: inline-block;
    padding: 0 0.8rem;
}
.smart-filter__price-control .uk-input {
    width: 80px;
    text-align: left;
    border-radius: 6px;
    padding-left: 35px;
}
.smart-filter__price-control .control {
    position: relative;
    display: inline-block;
}
.smart-filter__price-control .control-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 0.9em;
}
.smart-filter .range-control {
    padding-top: 10px;
}
.smart-filter .range-control .irs-from,
.smart-filter .range-control .irs-to,
.smart-filter .range-control .irs-single,
.smart-filter .range-control .irs-bar {
    background: #2580cc;
}
.smart-filter .range-control .irs-from:after,
.smart-filter .range-control .irs-to:after,
.smart-filter .range-control .irs-single:after {
    border-top-color: #2580cc;
}
.smart-filter .range-control .irs-slider {
    width: 2px;
    background: #1d65a1;
}
.left-side {
    width: 30%;
    float: left;
}
.left-side_size_catalog {
    width: 20%;
}
.right-side {
    float: right;
    width: 70%;
    padding-left: 3rem;
}
.right-side_size_catalog {
    width: 80%;
    padding-left: 1rem;
}
.content {
    background: #fff;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 1rem;
}
.content_theme_grid {
    box-shadow: none;
    background: transparent;
}
.content_theme_grid .content-body {
    padding: 2rem 0;
}
.content-head__title {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5rem;
    margin: 0;
    font-weight: bold;
}
.content-head__tools {
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.content-head__tools label {
    margin-right: 8px;
    line-height: 1;
    vertical-align: middle;
}
.breadcrumbs_detail {
    padding-bottom: 2rem;
    display: block;
}
.detail-tabs {
    margin-bottom: 0;
}
.detail-tabs li {
    padding: 0;
}
.detail-tabs li a {
    color: #000;
    padding: 0.6rem 1rem;
    font-weight: bold;
    text-transform: none;
}
.detail-tabs .uk-active a {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #2580cc;
}
.detail-description {
    margin-top: 2rem;
}
.detail-description .tab-content {
    background: #fff;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
}
.detail-description .tab-content__item {
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}
.detail-slider {
    width: 600px;
    float: left;
}
.detail-slider-nav {
    float: left;
    margin-right: 15px;
}
.detail-slider-nav__image {
    width: 140px;
    height: 140px;
    border: 2px solid #2580cc;
    margin-bottom: 7px;
    border-radius: 6px;
    overflow: hidden;
}
.detail-slider-nav__image img {
    width: 100%;
}
.detail-slider-big {
    border-radius: 6px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    width: 440px;
    float: right;
    overflow: hidden;
    background: #fff;
    padding: 0 4px;
}
.detail-info {
    width: 574px;
    float: right;
}
.detail-info-card {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin-bottom: 2rem;
}
.detail-info__count {
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem;
    padding-top: 4px;
}
.detail-info__count label {
    float: left;
    padding-right: 1rem;
    padding-top: 3px;
}
.detail-info__count .product-count {
    width: 102px;
}
.detail-info__count .product-count__minus,
.detail-info__count .product-count__plus {
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 30px;
    color: #999;
}
.detail-info__count .product-count__minus .fa,
.detail-info__count .product-count__plus .fa {
    font-size: 1.3rem;
}
.detail-info__count .product-count__minus {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.detail-info__count .product-count__plus {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.detail-info__count .product-count__input {
    border: 1px solid #ccc;
    font-size: 1.3rem;
    width: 30px;
    height: 30px;
}
.detail-info__title {
    font-size: 1.8rem;
    font-weight: bold;
}
.detail-info__price {
    font-size: 1.8rem;
}
.detail-info .btn-white {
    vertical-align: top;
    padding: 5px 1rem;
    margin: 0 1rem;
}
.contacts {
    padding-top: 1rem;
}
.contacts-card {
    width: 300px;
    background: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 1rem;
}
.contacts-card__name {
    font-weight: bold;
    color: #000;
}
.contacts-card__phones {
    padding: 0.6rem 0;
}
.contacts-card__phones .uk-icon {
    float: left;
    padding-top: 4px;
}
.contacts-card__phones .phones {
    display: table;
    padding-left: 5px;
}
.contacts-card__phones .phones > span {
    display: block;
}
.contacts-card__email {
    padding-bottom: 0.6rem;
}
.contacts-card__addr {
    padding-bottom: 1rem;
}
.contacts-card .btn {
    width: 100%;
}
.contacts-card .uk-icon {
    color: #2580cc;
    padding-right: 2px;
}
#map {
    height: 500px;
}
.ymaps-2-1-50-outer-panes,
.ymaps-2-1-50-ground-pane {
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
}
.cart-list .table-head .uk-button {
    color: #2580cc;
}
.cart-list .product__remove {
    color: red  ;
}
.cart-footer {
    padding: 1rem;
    color: #000;
    font-size: 1.5em;
}
.cart-footer__oldprice {
    white-space: nowrap;
    word-break: keep-all;
}
.cart-footer__table {
    width: 100%;
}
.cart-footer__total {
    padding: 0 1rem 0 0;
}
.cart-footer__total .total-word {
    min-width: 80px;
    display: inline-block;
}
.cart-footer__total .old-price {
    display: inline-block;
    color: #999;
}
.cart-footer__total .row small {
    font-weight: 100;
    padding-left: 1rem;
    font-size: 0.7em;
}
.cart-footer__final {
    padding-top: 2rem;
}
.cart-footer__download {
    float: right;
    font-size: 1rem;
    vertical-align: middle;
    padding-top: 1rem;
    text-decoration: underline;
}
.cart-footer__download .fa {
    margin-right: 10px;
    font-size: 1.5rem;
    display: inline-block;
    color: red;
}
.footer {
    border-top: 1px solid #ccc;
    padding: 2rem 0;
}
.footer__title {
    color: #2580cc;
    margin: 0;
    display: inline-block;
    padding-bottom: 1rem;
}
.footer_col {
    display: inline-block;
    vertical-align: top;
    padding-right: 4rem;
}
.footer-navigation ul {
    padding: 0;
    margin: 0;
}
.footer-navigation ul li {
    list-style: none;
}
.footer-navigation ul li a {
    color: #aaa;
    font-size: 0.9em;
}
.footer-contacts {
    padding-bottom: 1rem;
}
.footer-contacts__item {
    margin: 0;
    padding: 0 0 5px;
    font-size: 0.9em;
}
.footer-contacts__item b {
    display: inline-block;
    margin: 0;
}
.footer-contacts__item p {
    margin: 0;
    padding: 0;
    color: #aaa;
}
.footer-contacts__tel {
    font-size: 1.7em;
    text-decoration: none;
    padding: 0 0 0;
    color: #000;
}
.footer-contacts__tel .fa {
    color: #2580cc;
}
a.footer-contacts__callback {
    color: #2580cc;
    display: inline-block;
    border-bottom: 1px dashed;
}
.footer-right {
    float: right;
    text-align: right;
    max-width: 340px;
}
.footer .logo {
    opacity: 0.7;
    transition: all 250ms;
}
.footer .logo:hover {
    opacity: 1;
}
.footer-copy p {
    color: #aaa;
    font-size: 0.9em;
    margin: 0;
    padding-bottom: 8px;
    line-height: 1.2;
}
.modal-form {
    max-width: 400px;
}
.modal-form .form-error {
    color: red;
}
.checkboxes_container {
    width: 100%;
    margin: 1em 0 0;
}
.checkboxes_item {
    width: 100%;
    margin-bottom: 0.7em;
    position: relative;
}
.checkboxes_item label {
    width: 100%;
    display: table;
}
.checkboxes_item label > input[type=checkbox] {
    display: inline-table;
    float: left;
    margin-right: 1em;
    vertical-align: top;
}
.checkboxes_item label .label_text {
    display: inline-table;
    vertical-align: top;
    width: 90%;
    font-size: 11px;
    line-height: 1.3;
    font-weight: normal;
    color: #999;
}
.checkboxes_item label .form-error {
    position: absolute;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    background: indianred;
    border-radius: 4px;
    padding: 8px;
    z-index: 2;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.1;
}
.checkboxes_item label .form-error:before {
    content: "";
    display: block;
    border: 7px solid transparent;
    border-right: 7px solid indianred;
    position: absolute;
    left: -14px;
    top: 3px;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.homepage {
    background: url("../img/bg.jpg") no-repeat center top;
}
.first-screen {
    padding-top: 3rem;
}
.first-screen .container {
    width: 960px;
}
.first-screen .title {
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
}
.first-screen .subtitle {
    text-align: center;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    font-weight: 300;
}
.first-screen .first_form {
    background: url("../img/form1.png") no-repeat center top;
    padding-top: 70px;
    padding-bottom: 30px;
    min-height: 330px;
}
.first-screen .first_form .left {
    width: 315px;
    float: left;
    margin-left: 235px;
}
.first-screen .first_form .left .form-title {
    font-size: 36px;
    text-transform: uppercase;
    color: #004b88;
    font-weight: 600;
    margin-bottom: 10px;
}
.first-screen .first_form .left .form-title > span {
    font-size: 30px;
    display: block;
}
.first-screen .first_form .left .cta {
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    font-weight: 300;
}
.first-screen .first_form .left .cta b {
    font-weight: bold;
}
.first-screen .first_form .right {
    width: 280px;
    float: right;
    text-align: center;
    margin-right: 40px;
    margin-top: -22px;
    padding-top: 2rem;
}
.first-screen .first_form .right > h4 {
    font-size: 17px;
    color: #333333;
    line-height: 1.2;
    font-weight: 400;
}
.first-screen .first_form .right form input {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    width: 224px;
    height: 35px;
    padding: 0 15px;
    font-size: 12px;
    margin-bottom: 15px;
    transition: all 300ms;
}
.first-screen .first_form .right form input:focus {
    border-color: #2580cc;
    box-shadow: 0 4px 20px -7px #000000;
    transform: scale(1.1);
    transition: all 300ms;
}
.first-screen .first_form .right form .blue_btn {
    background-color: #54acd2;
    width: 226px;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: left;
    font-weight: 300;
    box-shadow: 3px 3px 0 #2c82c9;
    position: relative;
    cursor: pointer;
    transition: all 300ms;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.first-screen .first_form .right form .blue_btn:after {
    content: "\f101";
    font-family: FontAwesome;
    display: block;
    width: 28px;
    height: 28px;
    background: #fff;
    color: #2580cc;
    position: absolute;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    right: 6px;
    top: 6px;
    transition: all 400ms;
    text-shadow: none;
}
.first-screen .first_form .right form .blue_btn:hover {
    transform: scale(1.08);
    transition: all 300ms;
}
.first-screen .first_form .right form .blue_btn:hover:after {
    transform: translate(15px, 0);
    transition: all 400ms;
    box-shadow: 3px 4px 10px -5px #000000;
}
.i_need {
    text-align: center;
}
.i_need > b {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    display: inline-block;
}
.i_need ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.i_need ul li {
    display: inline-block;
    list-style: none;
}
.i_need ul li a {
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    margin: 0 3px;
    padding: 5px 10px;
    position: relative;
    min-height: 20px;
    display: block;
    font-weight: 300;
}
.i_need ul li a:before {
    transition: all 200ms;
    opacity: 0;
    content: "";
    display: block;
    border: 1px solid #2580cc;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -5px;
    top: -5px;
}
.i_need ul li a:after {
    transition: all 200ms;
    content: "";
    display: block;
    border: 1px solid #2580cc;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 8px;
    top: 8px;
    opacity: 0;
}
.i_need ul li a:hover:before {
    transition: all 200ms;
    opacity: 1;
    left: 0;
    top: 0;
}
.i_need ul li a:hover:after {
    transition: all 200ms;
    opacity: 1;
    left: 3px;
    top: 3px;
}
.catalog .container {
    width: 960px;
}
.catalog .title {
    font-size: 30px;
    color: #333333;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 60px;
}
.catalog .subtitle {
    margin-top: 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.catalog .catalog_wrapper {
    text-align: center;
}
.catalog .catalog_wrapper .item {
    transition: all 200ms;
    width: 220px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    min-height: 270px;
    margin: 0 15px 20px 0;
}
.catalog .catalog_wrapper .item:nth-child(4n+4) {
    margin-right: 0;
}
.catalog .catalog_wrapper .item .cover {
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
}
.catalog .catalog_wrapper .item .cover:after {
    content: "";
    border-bottom: 1px solid #ccc;
    display: block;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}
.catalog .catalog_wrapper .item .cover img {
    height: 100%;
    display: table;
    margin: 0 auto;
    padding: 10px;
}
.catalog .catalog_wrapper .item .link {
    color: #2580cc;
    font-weight: 300;
}
.catalog .catalog_wrapper .item:hover {
    border-color: transparent;
    transition: all 200ms;
    transform: scale(1.1);
    box-shadow: 0 10px 25px -1px rgba(0, 0, 0, 0.5);
}
.partners {
    text-align: center;
}
.partners .container {
    width: 960px;
}
.partners .title {
    font-size: 30px;
    color: #333333;
    text-align: center;
}
.partners .item {
    transition: all 400ms;
    display: inline-block;
    vertical-align: top;
    width: 170px;
    margin: 7px;
    border: 1px solid transparent;
}
.partners .item .item_logo {
    height: 75px;
    position: relative;
    overflow: hidden;
}
.partners .item .item_logo img {
    display: table;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.partners .item .descript {
    height: 0;
    overflow: hidden;
    background: #fff;
    border: 1px solid transparent;
}
.partners .item .descript p {
    font-weight: 300;
    padding: 0 8px 5px 8px;
    text-align: justify;
    font-size: 16px;
}
.partners .item .descript .more {
    color: #2580cc;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    font-weight: 300;
}
.partners .item:hover {
    transition: all 400ms;
    position: relative;
    border: 1px solid #ccc;
}
.partners .item:hover .descript {
    transition: all 400ms;
    position: absolute;
    width: 101%;
    height: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: transparent;
    left: -1px;
    z-index: 1;
    box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.5);
}
.services {
    text-align: center;
    margin-top: 80px;
}
.services .title {
    font-size: 30px;
    color: #333333;
    text-align: center;
}
.services .item {
    position: relative;
    background: url("../img/service_bg.jpg") no-repeat center;
    background-size: cover;
    padding-left: 20px;
    text-align: left;
    width: 460px;
    min-height: 280px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    margin: 5px 3px;
    padding-top: 15px;
}
.services .item .service-title {
    font-weight: 300;
}
.services .item .descript ul {
    width: 295px;
    padding: 0;
}
.services .item .descript ul li {
    list-style: none;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 6px;
}
.services .item .actions {
    position: absolute;
    bottom: 12px;
}
.services .item .actions .link {
    color: #2580cc;
    font-weight: 300;
    margin-right: 20px;
}
.services .item .actions .btn_blue {
    background-color: #54acd2;
    width: 115px;
    border: none;
    color: #fff;
    padding: 4px 15px;
    font-size: 14px;
    text-align: left;
    font-weight: 300;
    box-shadow: 3px 3px 0 #2c82c9;
    position: relative;
    cursor: pointer;
    transition: all 300ms;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.services .item .actions .btn_blue:after {
    content: "\f101";
    font-family: FontAwesome;
    display: block;
    width: 18px;
    height: 18px;
    background: #fff;
    color: #2580cc;
    position: absolute;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    right: 6px;
    top: 3px;
    transition: all 400ms;
    text-shadow: none;
}
.services .item .actions .btn_blue:hover {
    transform: scale(1.08);
    transition: all 300ms;
}
.services .item .actions .btn_blue:hover:after {
    transform: translate(15px, 0);
    transition: all 400ms;
    box-shadow: 3px 4px 10px -5px #000000;
}
.reasons {
    background: url("../img/bg2.jpg") no-repeat center -5%;
    padding-bottom: 50px;
    padding-top: 3rem;
}
.reasons .container {
    width: 960px;
}
.reasons .title {
    font-size: 30px;
    color: #333333;
    text-align: center;
    font-weight: 400;
}
.reasons .eggs {
    text-align: center;
}
.reasons .eggs .item {
    max-width: 180px;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    font-size: 14px;
    margin: 20px 65px 10px;
}
.reasons .eggs .item .ico {
    display: block;
    margin: 0 auto 10px auto;
}
.reasons .eggs .item .ico_1 {
    background-image: url(../img/sprite.png);
    background-position: -77px 0px;
    width: 47px;
    height: 48px;
}
.reasons .eggs .item .ico_2 {
    background-image: url(../img/sprite.png);
    background-position: 0px -97px;
    width: 45px;
    height: 45px;
}
.reasons .eggs .item .ico_3 {
    background-image: url(../img/sprite.png);
    background-position: -129px 0px;
    width: 47px;
    height: 44px;
}
.reasons .eggs .item .ico_4 {
    background-image: url(../img/sprite.png);
    background-position: 0px -44px;
    width: 49px;
    height: 48px;
}
.reasons .eggs .item .ico_5 {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 72px;
    height: 39px;
}
.reasons .second_form {
    background: url("../img/form2.png") no-repeat center top;
    padding-top: 70px;
    padding-bottom: 30px;
    min-height: 330px;
}
.reasons .second_form .left {
    width: 315px;
    float: left;
    margin-left: 235px;
}
.reasons .second_form .left .form-title {
    font-size: 36px;
    text-transform: uppercase;
    color: #004b88;
    font-weight: 600;
    margin-bottom: 10px;
}
.reasons .second_form .left .form-title > span {
    font-size: 30px;
    display: block;
}
.reasons .second_form .left .cta {
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    font-weight: 300;
}
.reasons .second_form .left .cta b {
    font-weight: bold;
}
.reasons .second_form .right {
    width: 280px;
    float: right;
    text-align: center;
    margin-right: 40px;
    margin-top: 0px;
    padding-top: 2rem;
}
.reasons .second_form .right > h4 {
    font-size: 17px;
    color: #333333;
    line-height: 1.2;
    font-weight: 400;
}
.reasons .second_form .right form input {
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    width: 224px;
    height: 35px;
    padding: 0 15px;
    font-size: 12px;
    margin-bottom: 15px;
    transition: all 300ms;
}
.reasons .second_form .right form input:focus {
    border-color: #2580cc;
    box-shadow: 0 4px 20px -7px #000000;
    transform: scale(1.1);
    transition: all 300ms;
}
.reasons .second_form .right form .blue_btn {
    background-color: #54acd2;
    width: 226px;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: left;
    font-weight: 300;
    box-shadow: 3px 3px 0 #2c82c9;
    position: relative;
    cursor: pointer;
    transition: all 300ms;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.reasons .second_form .right form .blue_btn:after {
    content: "\f101";
    font-family: FontAwesome;
    display: block;
    width: 28px;
    height: 28px;
    background: #fff;
    color: #2580cc;
    position: absolute;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    right: 6px;
    top: 6px;
    transition: all 400ms;
    text-shadow: none;
}
.reasons .second_form .right form .blue_btn:hover {
    transform: scale(1.08);
    transition: all 300ms;
}
.reasons .second_form .right form .blue_btn:hover:after {
    transform: translate(15px, 0);
    transition: all 400ms;
    box-shadow: 3px 4px 10px -5px #000000;
}

.header-auth{
    float: right;
    background: #133e62;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}
.header-auth a,.header-auth a:hover,.header-auth a:active,.header-auth a:focus{
    color:white;
    text-decoration: none;
}

/* ADDITIONAL STYLES*/
/* HeaderCatalogNav START*/
    nav.navigation{
        z-index:1000;
    }
/* HeaderCatalogNav END*/
.work-area:after {
    content: "";
    clear: both;
    display: table;
}