.header {
  padding: 1rem 0;
}
.header .logo {
  margin-top: 10px;
}
.header .mini-cart {
  display: inline-block;
  position: relative;
  color: #2580cc;
}
.header .mini-cart .uk-badge {
  position: absolute;
  top: -4px;
  right: -7px;
}
.header-nav {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 0 3px 1.2rem;
}
.header-nav li {
  display: inline-block;
  list-style: none;
}
.header-nav li a {
  padding: 5px 5px;
  display: block;
  color: #000000;
  font-weight: 500;
}
.header-cart {
  display: inline-block;
  vertical-align: middle;
  padding: 0 3rem;
}
.header-cart__right {
  float: right;
  padding-left: 1rem;
}
.header-cart__price {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 5px;
  color: #000;
  line-height: 1;
}
.header-contacts {
  float: right;
  text-align: right;
  vertical-align: top;
}
.header-contacts a {
  display: block;
  color: #000000;
  text-decoration: none;
}
.header-contacts a .fa,
.header-contacts a .uk-icon {
  color: #2580cc;
  font-size: 1.2em;
  vertical-align: middle;
  padding-right: 5px;
}
.header-contacts__tel {
  font-size: 1.7em;
  text-decoration: none;
  padding: 0 0 0;
}
a.header-contacts__callback {
  color: #2580cc;
  display: inline-block;
  border-bottom: 1px dashed;
}
