.userbar {
  background: #1b588c;
  color: #fff;
  padding: 5px 0;
}
.userbar__list {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}
.userbar__list li {
  display: inline-block;
  list-style: none;
  padding: 7px 0 7px 3px;
  font-weight: 100;
  font-size: 0.9em;
}
.userbar__list li:after {
  content: "•";
  display: inline-block;
  padding-left: 7px;
}
.userbar__list li:last-child:after {
  display: none;
}
.userbar-profile {
  background: #133e62;
  display: inline-block;
  padding: 4px 10px;
  float: right;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.userbar-profile .uk-icon {
  display: inline-block;
  vertical-align: middle;
}
.userbar-profile__name {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-weight: 100;
}
.userbar-profile:hover .userbar__nav {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.userbar__nav {
  visibility: hidden;
  transition: all 300ms;
  transform: translateY(30px);
  opacity: 0;
  color: #000000;
  width: 100%;
  background: #fff;
  position: absolute;
  right: 0;
  margin-top: 10px;
  padding: 10px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 25px -8px rgba(0, 0, 0, 0.2), 0 0 30px -3px rgba(0, 0, 0, 0.1);
}
.userbar__nav:before {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
}
.userbar__nav ul {
  padding: 0;
  margin: 0;
}
.userbar__nav ul li {
  list-style: none;
}
.userbar__nav ul li a {
  padding: 6px 13px;
  text-decoration: none;
  display: block;
  font-weight: 100;
}
.userbar__nav ul li a .uk-icon {
  vertical-align: middle;
  margin-top: -5px;
  padding-right: 5px;
}
.userbar__nav ul li a:hover {
  background: #eee;
}
.userbar__nav_red {
  color: red;
}
