//@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

@base-font: 'Roboto', sans-serif;
@color-blue: rgb(44, 130, 201);


.blue_btn {
    background-color: rgb(84, 172, 210);
    //width: 226px;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: left;
    font-weight: 300;
    box-shadow: 3px 3px 0 rgb(44, 130, 201);
    position: relative;
    cursor: pointer;
    transition: all 300ms;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    /*
    &:after {
        content: "\f101";
        font-family: FontAwesome;
        display: block;
        width: 28px;
        height: 28px;
        background: #fff;
        color: @color-blue;
        position: absolute;
        font-size: 30px;
        line-height: 28px;
        text-align: center;
        right: 6px;
        top: 6px;
        transition: all 400ms;
        text-shadow: none;
    }
    */
    &:hover {
        transform: scale(1.08);
        transition: all 300ms;
        &:after {
            transform: translate(15px, 0);
            transition: all 400ms;
            box-shadow: 3px 4px 10px -5px rgba(0, 0, 0, 1);
        }
    }
}



.breadcrumbs {
    padding: 15px 0 5px;
    .breadcrumb-navigation {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        li {
            font-size: 13px;
            a {
                text-decoration: none;
                color: #2c82c9;
                padding: 4px 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            span {
                .fa {
                    margin: 0 7px;
                }
            }
            &:last-child {
                a {
                    background: #2c82c9;
                    color: #fff;
                    padding: 4px 7px;
                    border-radius: 15px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            } 
        }
    }
}



.vlx-news-list {
    .item {
        display: table;
        width: 100%;
        border-bottom: 1px dotted #ccc;
        //margin-bottom: 20px;
        padding: 20px 15px;
        background: rgba(255,255,255,0.8);
        transition: all 400ms;
        &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom: none;
        }
        &:hover {
            transition: all 400ms;
            transform: scale(1.03);
            box-shadow: 0 3px 25px -3px rgba(0,0,0,0.4);
            .img {
                overflow: hidden;
                transition: all 1000ms;
                //transform: rotate(0deg);
                img {
                    //opacity: 1;
                }
            }
        }
        .img {
            //transform: rotate(-10deg);
            transition: all 1000ms;
            background: #fff;
            float: left;
            width: 150px;
            height: 150px;
            margin-right: 30px;
            //border-radius: 50%;
            overflow: hidden;
            border: 3px solid #fff;
            box-shadow: 0 3px 10px rgba(0,0,0,0.15);
            img {
                //opacity: 0.7;
                height: auto;
                height: 100%;
            }
        }
        .cont {
            display: table;
            width: 720px;
            a.title {
                font-size: 18px;
                color:#000;
                font-weight: bold;
                text-decoration: none;
                margin-top: 15px;
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }
}



.contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .contact-item {
        padding: 25px;
        border: 1px solid #ccc;
        display: inline-block;
        vertical-align: top;
        width: 49%;
        margin-bottom: 20px;
        background: #fff;
        transition: all 400ms;
        .contact {
            margin: 4px 0;
        }
        &:hover {
            box-shadow: 0 3px 18px -2px rgba(0,0,0,0.4);
            transform: scale(1.03);
        }
    }
}



.footer {
    background: darken(#2c82c9, 20%);
    min-height: 90px;
    margin-top: 40px;
    padding: 20px 0;
    .user-alert {
        border: 2px solid #feeabd;
        padding: 15px 15px;
        border-radius: 5px;
        p {
            font-size: 13px;
            color: #feeabd;
            line-height: 1.2;
            padding: 0;
            margin:0;
            text-align: center;
        }
    }
    .copy {
        width: 340px;
        color: #fff;
        //margin-top: 25px;
        font-size: 12px;
        float: left;
    }
    .callback {
        display: table;
        float: right;
        text-align: right;
        a {color: #fff;}
    }
}


.sale_personal_order_list {
    background: #fff;
    padding: 10px;
    font-size: 13px;
}
