.blue_btn {
	background-color: #54acd2;
	border: none;
	color: #fff;
	padding: 10px 15px;
	text-align: left;
	font-weight: 300;
	box-shadow: 3px 3px 0 #2c82c9;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 300ms;
					transition: all 300ms;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	text-decoration: none
	/*
		&:after {
				content: "\f101";
				font-family: FontAwesome;
				display: block;
				width: 28px;
				height: 28px;
				background: #fff;
				color: @color-blue;
				position: absolute;
				font-size: 30px;
				line-height: 28px;
				text-align: center;
				right: 6px;
				top: 6px;
				transition: all 400ms;
				text-shadow: none;
		}
		*/
}
.blue_btn:hover {
	-webkit-transform: scale(1.08);
			-ms-transform: scale(1.08);
					transform: scale(1.08);
	-webkit-transition: all 300ms;
					transition: all 300ms;
}
.blue_btn:hover:after {
	-webkit-transform: translate(15px, 0);
			-ms-transform: translate(15px, 0);
					transform: translate(15px, 0);
	-webkit-transition: all 400ms;
					transition: all 400ms;
	box-shadow: 3px 4px 10px -5px #000000;
}
.breadcrumbs {
	padding: 15px 0 5px;
}
.breadcrumbs .breadcrumb-navigation {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.breadcrumbs .breadcrumb-navigation li {
	font-size: 13px;
}
.breadcrumbs .breadcrumb-navigation li a {
	text-decoration: none;
	color: #2c82c9;
	padding: 4px 0;
}
.breadcrumbs .breadcrumb-navigation li a:hover {
	text-decoration: underline;
}
.breadcrumbs .breadcrumb-navigation li span .fa {
	margin: 0 7px;
}
.breadcrumbs .breadcrumb-navigation li:last-child a {
	background: #2c82c9;
	color: #fff;
	padding: 4px 7px;
	border-radius: 15px;
}
.breadcrumbs .breadcrumb-navigation li:last-child a:hover {
	text-decoration: none;
}
.vlx-news-list .item {
	display: table;
	width: 100%;
	border-bottom: 1px dotted #ccc;
	padding: 20px 15px;
	background: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 400ms;
					transition: all 400ms;
}
.vlx-news-list .item:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.vlx-news-list .item:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: none;
}
.vlx-news-list .item:hover {
	-webkit-transition: all 400ms;
					transition: all 400ms;
	-webkit-transform: scale(1.03);
			-ms-transform: scale(1.03);
					transform: scale(1.03);
	box-shadow: 0 3px 25px -3px rgba(0, 0, 0, 0.4);
}
.vlx-news-list .item:hover .img {
	overflow: hidden;
	-webkit-transition: all 1000ms;
					transition: all 1000ms;
}
.vlx-news-list .item .img {
	-webkit-transition: all 1000ms;
					transition: all 1000ms;
	background: #fff;
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 30px;
	overflow: hidden;
	border: 3px solid #fff;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.vlx-news-list .item .img img {
	height: auto;
	height: 100%;
}
.vlx-news-list .item .cont {
	display: table;
	width: 720px;
}
.vlx-news-list .item .cont a.title {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	margin-top: 15px;
}
.vlx-news-list .item .cont a.title:hover {
	text-decoration: underline;
}
.vlx-news-list .item .cont p {
	font-size: 14px;
}
.contacts-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
					flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
			-ms-flex-pack: justify;
					justify-content: space-between;
}
.contacts-wrapper .contact-item {
	padding: 25px;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: top;
	width: 49%;
	margin-bottom: 20px;
	background: #fff;
	-webkit-transition: all 400ms;
					transition: all 400ms;
}
.contacts-wrapper .contact-item .contact {
	margin: 4px 0;
}
.contacts-wrapper .contact-item:hover {
	box-shadow: 0 3px 18px -2px rgba(0, 0, 0, 0.4);
	-webkit-transform: scale(1.03);
			-ms-transform: scale(1.03);
					transform: scale(1.03);
}
.footer {
	background: #1a4c75;
	min-height: 90px;
	margin-top: 40px;
	padding: 20px 0;
}
.footer .user-alert {
	border: 2px solid #feeabd;
	padding: 15px 15px;
	border-radius: 5px;
}
.footer .user-alert p {
	font-size: 13px;
	color: #feeabd;
	line-height: 1.2;
	padding: 0;
	margin: 0;
	text-align: center;
}
.footer .copy {
	width: 340px;
	color: #fff;
	font-size: 12px;
	float: left;
}
.footer .callback {
	display: table;
	float: right;
	text-align: right;
}
.footer .callback a {
	color: #fff;
}
.sale_personal_order_list {
	background: #fff;
	padding: 10px;
	font-size: 13px;
}

// CATALOG 

.bx_filter_vertical.bx_blue {
	margin-top: 57px;
}
