/*Table*/
table.sale_personal_profile_detail
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	font-size:14px;
}

/*Table head*/
table.sale_personal_profile_detail th
{
	//background-image:url(images/table_head.gif);
	background: #dbe7f5;
	background-repeat:repeat-x;
	#text-align: left;
	//color:#25639A;
	padding: 10px !important;
	font-size: 14px;
	text-transform: uppercase;
}

/* Table cells and heads*/
table.sale_personal_profile_detail th, table.sale_personal_profile_detail td
{
	border:1px solid #ADC3D5;
	padding: 8px 10px;
	vertical-align:top;
}
table.sale_personal_profile_detail th, table.sale_personal_profile_detail td input, textarea, select {
	border: 1px solid #ccc;
	width: 310px;
	padding: 6px 10px;
}
select, textarea {
	max-height: 200px;
}

.req{color:red;}