div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

#vlx_slider { 
	position: relative;
	margin-bottom: 40px;
	z-index:50;
}

#vlx_slider .pagination {margin-top: 20px !important;}
#vlx_slider .pagination > li {
	width: 15px;
    height: 15px;
    background: #f5f5f5;
    border-radius: 50%;
    color: transparent;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);
}
#vlx_slider .pagination > li.current { background: #007EAD;}

