div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}


.partners .item .descript, .partners .item .descript p {
    text-align: left !important;
    font-size: 13px !important;
    padding: 0 15px !important;
    z-index: 5 !important;
}


.partners .item .descript .prev-wrap {
	max-height: 300px;
	overflow: hidden;
	padding: 10px 0 20px; 
}

.partners .item .more {
	font-size: 15px;
}