@color-blue: blue;

.catalog-price {
	 color:red;
}

.card {
	.view {
		float: left;
		//width: 420px;
		.photo {
			position: relative;
			.spec {
				position: absolute;
				z-index: 1;
			}
			ul {
				li {
					.wrap {
						img {
							margin: 0 auto;
						}
					}
				}
			}
			.card_image_slider {
				background: #fff;
				padding: 0;
				width: 400px;
				border: 1px solid #ccc;
				position: relative;
				.slick-prev, .slick-next {
					position: absolute;
					z-index: 1;
					top: 49%;
					font-size: 28px;
					cursor: pointer;
					opacity: 0.3;
					transition: all 250ms;
					&:hover {
						opacity: 0.6;
						transform: scale(1.2);
						transition: all 250ms;
					}
				}
				.slick-next {right: 10px;}
				.slick-prev {left: 10px;}
			}
		}
			.card_image_slider_nav {
				width: 400px;
				.slick-track {
					width: 400px;
				}
				a.slick-slide {
					overflow: hidden;
					margin: 0 4px;
					height: 62px;
					background: #fff;
					opacity: 0.6;
					img {
						max-width: 90px;
						margin: 0 auto;
						height: 100%;
					}
				}
				a.slick-current {
					opacity: 1;
					margin: 0 4px;
					border: 1px solid blue;
					position: relative;
				}
			}
	}
	.cont_right {
		float: right;
		display: table;
		width: 500px;
		.descr {
			font-size: 14px;
		}
		.char {
			ul {
				padding: 0;
				border: 1px solid #ccc;
    			border-radius: 5px;
    			margin-top: 40px;
				li {
					list-style: none;
					position: relative;
					margin-top: 6px;
					padding-bottom: 4px;
    				font-size: 14px;
    				&:last-child {
    					&:after {
    						display: none;
    					}
    				}
					&:after {
						content: "";
						height: 0;
						width: 100%;
						border-bottom: 1px dotted #bac;
					    display: block;
					    position: absolute;
					    bottom: 0px;
					}
					.left {margin-left: 15px;}
					.right {
						float: right;
						margin-right: 15px;
					}
				}
			}
		}
		.price-buy {
			.price {
				float: left;
				font-size: 21px;
    			font-weight: 600;
			}
			.buy {
				float: right;
			}	
		}
		.soc {
			margin-top: 20px;
		}
	}
}

.info {
	padding-top: 40px;
	.tab-ctrl {
		ul {
			padding: 0;
			margin: 0;
			li {
				&.curr a{
					background: #fff;
					border-bottom: 1px solid #fff;
					box-shadow: none;
					&:hover {
						background: #fff;
					}
				}
				display: inline-block;
				a {
					box-shadow: inset 0 -16px 29px -15px rgba(0, 0, 0, 0.2);
					background: #eee;
					border: 1px solid #ccc;
					padding: 0 15px;
					text-decoration: none;
					display: block;
					height: 40px;
					line-height: 40px;
					color: @color-blue;
					&:hover {
						background: #ddd;
					}
				}
			}
		}
	}
	.tab-cont {
		background: #fff;
		border: 1px solid #ccc;
		padding: 25px 15px;
		margin-top: -1px;
		&-item {
			display: none;
			.prod-list4 {
				.item {
			        border: 1px solid #ccc;
			        margin-bottom: 20px;
			        background: #fff;
			        padding: 10px;
			        &:hover {
			            transition: all 300ms;
			            box-shadow: 0 4px 25px -3px rgba(0, 0, 0, 0.3);
			        }
			        .wrap {
			            display: flex;
			            flex-wrap: wrap;
			            .img {
			                width: 20%;
			                a {
			                	display: block;
			                	height: 100%;
			                	position: relative;
				                img {
				                    //transform: translateY(50%);
				                    display: table;
				                    position: absolute;
								    top: 50%;
								    left: 50%;
								    transform: translate(-50%, -50%);
				                }
			                } 
			            }
			            .cont {
			                width: 55%;
			                padding-right: 15px;
			                .head {
			                    .link a {
			                        color: @color-blue; 
			                    }
			                }
			                .cl {
			                    padding-top: 10px;
			                    .char {
			                        ul {
			                            margin: 0;
			                            padding: 0;
			                            li {
			                                margin: 5px 0;
			                                list-style: none;
			                                font-size: 14px;
			                                position: relative;
			                                &:after {
			                                    content: "";
			                                    width: 100%;
			                                    height: 1px;
			                                    border: 1px dashed #ccc;
			                                    position: absolute;
			                                    bottom: 3px;
			                                    left:0;
			                                }
			                                .left {
			                                    color: #777;
			                                    background: #fff;
			                                    position: relative;
			                                    z-index: 2;
			                                    padding: 2px 4px;
			                                }
			                                .right {
			                                    float: right; 
			                                    background: #fff;
			                                    position: relative;
			                                    z-index: 2;
			                                    padding: 2px 4px;
			                                }
			                            }
			                        }
			                    }
			                }
			            }
			            .price-buy {
			                width: 25%;
			                overflow: hidden;
			                text-align: center;
			                .price {
			                    font-size: 21px;
			                    margin-top: 30px;
							    margin-bottom: 28px;
							    font-weight: bold;
			                }
			                .count {
			                    margin: 15px 0 0;
			                    fieldset {
			                        border: none;
			                        input[name=quantity] {
			                            width: 30px;
			                            height: 30px;
			                            line-height: 30px;
			                            text-align: center;
			                            padding: 5px;
			                            font-size: 15px;
			                            transform: translateY(-1px);
			                            box-shadow: inset 1px 2px 18px -8px rgba(0, 0, 0, 0.9);
			                            border:1px solid #aaa;
			                        }
			                        .minus, .plus {
			                            //background: @color-blue;
			                            //color: #fff;
			                            height: 30px;
			                            line-height: 30px;
			                            display: inline-block;
			                            width: 30px;
			                            text-decoration: none;
			                            border: 1px solid #aaa;
			                            &:hover {
			                                background: #ddd;
			                            }
			                        }
			                        .minus {
			                            margin-right: -5px;
			                            border-bottom-left-radius: 6px;
			                            border-top-left-radius: 6px;
			                        }
			                        .plus {
			                            margin-left: -5px;
			                            border-bottom-right-radius: 6px;
			                            border-top-right-radius: 6px;
			                        }
			                    }
			                }
			            }
			        }
			    }
			}
		}
	}
}




	
